
.icon-wrapper-big{
    width: 54px;
    height: 54px;
    -webkit-border-radius: 54px;
    -moz-border-radius: 54px;
    border-radius: 54px;
    background: #e0e8eb; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: -moz-linear-gradient(top,  #e0e8eb 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e8eb), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e0e8eb 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e0e8eb 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e0e8eb 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e0e8eb 0%,#ffffff 100%); /* W3C */
}

.icon-wrapper-settings {
    position: fixed;
    top: 114px;
    left: 23px;
}

.icon-wrapper-cup {
    position: fixed;
    top: 69px;
    left: 86px;
}

.icon-wrapper-grand {
    width: 42px;
    height: 42px;
    -webkit-border-radius: 42px;
    -moz-border-radius: 42px;
    border-radius: 42px;
    background: #e0e8eb; /* Old browsers */
    background: -moz-linear-gradient(top,  #e0e8eb 0%, #fff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e8eb), color-stop(100%,#f8fafb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e0e8eb 0%,#fff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e0e8eb 0%,#fff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e0e8eb 0%,#fff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e0e8eb 0%,#fff 100%); /* W3C */
    position: fixed;
    top: 7px;
    left: 7px;
}

.icon-grand-bg {
    background-color: #9eb1b8;
    width: 36px;
    height: 36px;
    border-radius: 36px;
    position: relative;
    margin: 0 auto;
    top: 3px
}


.icon-grand-big {
    width: 34.5px;
    height: 34.5px;
    position: relative;
    top: 0.8px;
    -webkit-border-radius: 36px;
    -moz-border-radius: 36px;
    border-radius: 36px;
    right: -0.8px;
    background: #B6C1C8;
    text-align: center;
    padding-left: 1px;

}

.icon-big-bg {
    background-color: #B9C8CE;
    width: 48px;
    height: 48px;
    border-radius: 48px;
    position: relative;
    margin: 0 auto;
    top: 3px;
}

.icon-big-bg:hover {
  background-color: #C0CBCF;
}

.icon-big-bg:hover .icon-big .cog-icon,
.icon-big-bg:hover .icon-big .cup-icon,
.icon-big-bg:hover .icon-big .place-icon,
.icon-big-bg:hover .icon-big .note-lg-icon{
    background-color: #d2dbde;

}

.icon-big {
    width: 46px;
    height: 46px;
    position: relative;
    top: 2px;
    -webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    border-radius: 48px;
    right: -1px;
    background: #d8e1e4; /* Old browsers */
    background: -moz-linear-gradient(top,  #d8e1e4 0%, #d4dee2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8e1e4), color-stop(100%,#d4dee2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d8e1e4 0%,#d4dee2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d8e1e4 0%,#d4dee2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d8e1e4 0%,#d4dee2 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d8e1e4 0%,#d4dee2 100%); /* W3C */
}

/*icons*/

.cog-icon{
    background-position: 7.5px 6.489586px;
    background-image: url('../images/sprites@2x.png');
    background-size: 277px 135px;
    background-repeat: no-repeat;
    width: 46px;
    height: 46px;
    cursor: pointer;
    border-radius: 46px;
    position: relative;
    background-color: #D7E0E3;
    top: 0;
    left: 0;
}

.note-lg-icon{
    background-position: -92.000008px 7px;
    background-image: url('../images/sprites@2x.png');
    background-size: 277px 135px;
    background-repeat: no-repeat;
    width: 46px;
    height: 46px;
    cursor: pointer;
    border-radius: 46px;
    position: relative;
    background-color: #D7E0E3;
    top: 0;
    left: 0;
}

.place-icon{
    background-position: -45.000008px 4px;
    background-image: url('../images/sprites@2x.png');
    background-size: 277px 135px;
    background-repeat: no-repeat;
    width: 46px;
    height: 46px;
    cursor: pointer;
    border-radius: 46px;
    position: relative;
    background-color: #D7E0E3;
    top: 0;
    left: 0;
}

.cup-icon{
    background-position: -142.5px 7.489586px;
    background-image: url('../images/sprites@2x.png');
    background-size: 277px 135px;
    background-repeat: no-repeat;
    width: 46px;
    height: 46px;
    cursor: pointer;
    border-radius: 46px;
    position: relative;
    background-color: #D7E0E3;
    top: 0;
    left: 0;
}

.icon-inside-big-hover:hover {
    -webkit-box-shadow: inset 6px 2px 5px -6px rgba(190, 207, 214, 0.95);
    -moz-box-shadow: inset 6px 2px 5px -6px rgba(190, 207, 214, 0.95);
    box-shadow: inset 6px 2px 5px -6px rgba(190, 207, 214, 0.95);
}

.counter-wrapper {
    width: 19px;
    height: 19px;
    background-color: #fff;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    position: fixed;
    margin-left: 36px;
    z-index: 10;
    margin-top: -5px;
}

.counter-bg {
    background-color: #F41B41;
    width: 16px;
    height: 16px;
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    top: 1.5px;
    position: relative;
    left: 1.5px;
    -webkit-box-shadow: inset 0px 1.5px 2px 0px rgba(175, 0, 0, 0.8);
    -moz-box-shadow: inset 0px 1.5px 2px 0px rgba(175, 0, 0, 0.8);
    box-shadow: inset 0px 1.5px 2px 0px rgba(175, 0, 0, 0.8);
    text-align: center;
}

.gift-count {
    font-size: 10px;
    color: #fff;
    font-weight: bold;
    position: relative;
    bottom :3px;
    letter-spacing: 0;
}

.cog-grand {
    font-weight: 800;
    font-size: 23px;
    text-align: center;
    color: #fff;
    text-shadow:
        1px 1px 1px #7B8A8F,
        -1px -1px 1px #7B8A8F,
        -1px 1px 1px #7B8A8F,
        1px -1px 1px #7B8A8F,
        -1px 0px 1px #7B8A8F,
        1px 0 1px #7B8A8F,
        0 1px 1px #7B8A8F,
        0 -1px 1px #7B8A8F,
        2px 2px 1px #A4B4BD,
        -2px 2px 1px #A4B4BD,
        3px 1px 1px #A4B4BD,
        2px 0 1px #A4B4BD,
        -2px 2px 1px #A4B4BD,
        2px 0 1px #A4B4BD,
        0 2px 1px #A4B4BD,
        3px 3px 1px #A4B4BD,
        -3px 3px 1px #A4B4BD,
        -3px 3px 1px #A4B4BD,
        3px 0 1px #A4B4BD,
        -3px 0 1px #A4B4BD,
        3px 0 1px #A4B4BD,
        0 3px 1px #A4B4BD;
    position: relative;
    left: 0;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #75848c;
    top: -1px;
}


.balance-amount {
    position: relative;
    font-size: 24px;
    font-weight: 800;
    color: #fff;
    margin-top: 0.5px;
    margin-left: 10px;
    top: -3px;
    text-shadow:
        1px 1px 1px #7B8A8F,
        -1px -1px 1px #7B8A8F,
        -1px 1px 1px #7B8A8F,
        1px -1px 1px #7B8A8F,
        -1px 0 1px #7B8A8F,
        1px 0 1px #7B8A8F,
        0 1px 1px #7B8A8F,
        0 -1px 1px #7B8A8F,
        2px 2px 1px #A4B4BD,
        -2px 2px 1px #A4B4BD,
        3px 1px 1px #A4B4BD,
        2px 0 1px #A4B4BD,
        -2px 2px 1px #A4B4BD,
        2px 0 1px #A4B4BD,
        0 2px 1px #A4B4BD,
        3px 3px 1px #A4B4BD,
        -3px 2px 1px #A4B4BD,
        -3px 2px 1px #A4B4BD,
        3px 0 1px #A4B4BD,
        -3px 0 1px #A4B4BD,
        3px 0 1px #A4B4BD,
        0 3px 1px #A4B4BD;
}

.coin-balance-wrapper {
    width: 65px;
    height: 36px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    left: 731px;
    position: fixed;
    top: 9px;
    background: #e0e8eb;
    background: -moz-linear-gradient(top, #e0e8eb 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e8eb), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top, #e0e8eb 0%,#ffffff 100%);
    background: -o-linear-gradient(top, #e0e8eb 0%,#ffffff 100%);
    background: -ms-linear-gradient(top, #e0e8eb 0%,#ffffff 100%);
    background: linear-gradient(to bottom, #e0e8eb 0%,#ffffff 100%);
}

.coin-balance-big{
    background-color: #B5C2C9;
    width: 56px;
    height: 28px;
    position: relative;
    border-radius: 24px;
    top: 1.5px;
    left: 1px;
}

.add-gift {
    width: 29px;
    height: 29px;
    -webkit-border-radius: 29px;
    -moz-border-radius: 29px;
    border-radius: 29px;
    background: #e0e8eb;
    background: -moz-linear-gradient(top, #e0e8eb 0%, #fff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e8eb), color-stop(100%,#f8fafb));
    background: -webkit-linear-gradient(top, #e0e8eb 0%,#fff 100%);
    background: -o-linear-gradient(top, #e0e8eb 0%,#fff 100%);
    background: -ms-linear-gradient(top, #e0e8eb 0%,#fff 100%);
    background: linear-gradient(to bottom, #e0e8eb 0%,#fff 100%);
    position: relative;
    margin-left: 55px;
    margin-top: -28px;
    top: 8px;
}

.icon-add-gift-default-bg {
    background-color: #9eb1b8;
    width: 26px;
    height: 26px;
    border-radius: 36px;
    position: relative;
    margin: 0 auto;
    top: 1.5px;
}

.icon-add-gift-default {
    background-position: -519.6px -4.510414px;
    background-image: url('../images/sprites@2x.png');
    background-size: 277px 135px;
    width: 24.5px;
    height: 24.5px;
    cursor: pointer;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    border-radius: 24px;
    left: 0;
    position: relative;
    margin-left: -0.8px;
}

.gift-default-bg{
    width: 24.5px;
    height: 24.5px;
    position: relative;
    top: 1.4px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    right: -0.8px;
    text-align: center;
    padding-left: 1px;
    background: #c7d0d5;
    background: -moz-radial-gradient(center, ellipse cover,  #c7d0d5 0%, #c7d0d5 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#c7d0d5), color-stop(100%,#c7d0d5));
    background: -webkit-radial-gradient(center, ellipse cover,  #c7d0d5 0%,#c7d0d5 100%);
    background: -o-radial-gradient(center, ellipse cover,  #c7d0d5 0%,#c7d0d5 100%);
    background: -ms-radial-gradient(center, ellipse cover,  #c7d0d5 0%,#c7d0d5 100%);
    background: radial-gradient(ellipse at center,  #c7d0d5 0%,#c7d0d5 100%);

}

.icon-add-gift-default-bg:hover .gift-default-bg .icon-add-gift-default {
    background-position: -557px -52.61px;
    background-image: url('../images/sprites@2x.png');
    background-size: 277px 135px;
    width: 24.5px;
    height: 24.5px;
    cursor: pointer;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    border-radius: 24px;
    background-color: #fea100;
    left: -0.3px;
    position: relative;
}

.icon-add-gift-default-bg:hover .gift-default-bg  {
    top: 0;
    background: transparent;
}
.coin-balance-bg {
    background-color: #A0B3BA;
    width: 59px;
    height: 31px;
    position: relative;
    top: 2.5px;
    left: 2.5px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
}


.icon-add-gift-default-bg:hover {
    background-color: #EB8C06;
}

.coin-gold-icon {
    background-position: -46.000008px -49px;
    background-image: url('../images/sprites@2x.png');
    background-size: 277px 135px;
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
    float: right;
    position: relative;
    right: -16px;
    top: -38px;
}

.green-plus-wrapper {
    background-color: #00A91D;
    width: 19px;
    height: 19px;
    position: relative;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    float: right;
    right: -25px;
    top: -53px;
    padding: 0;
    box-shadow: 0px 2px 0px 0px rgba(206, 216, 218, 1.0);
}

.green-plus-bg {
    width: 19.5px;
    height: 19.5px;
    -webkit-border-radius: 19.5px;
    -moz-border-radius: 19.5px;
    border-radius: 19.5px;
    position: relative;
    top: -1px;
    left: 0.56px;
    background: #18e202; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: -moz-linear-gradient(top,  #18e202 0%, #07b620 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#18e202), color-stop(100%,#07b620)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #18e202 0%,#07b620 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #18e202 0%,#07b620 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #18e202 0%,#07b620 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #18e202 0%,#07b620 100%); /* W3C */
    cursor: pointer;

}

.vk-plus {
    background-image: url('../images/sprites@2x.png');
    background-size: 277px 135px;
    background-position: -6.100008px -105.9px;
    width: 20px;
    height: 20px;
}

.green-plus-wrapper:hover .green-plus-bg {
    background: #18e202; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: -moz-radial-gradient(center, ellipse cover,  #18e202 0%, #07b620 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#18e202), color-stop(100%,#07b620)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #18e202 0%,#07b620 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #18e202 0%,#07b620 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #18e202 0%,#07b620 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #18e202 0%,#07b620 100%); /* W3C */

}

.icon-wrapper-lg-note {
    position: fixed;
    top: 114px;
    left: 753px;
}

.icon-wrapper-place {
    position: fixed;
    top: 70px;
    left: 689px;
}

.user-frame {
    width: 64px;
    height: 63px;
    border-radius: 4px;
background-color:  #D5DDE0;
    position: relative;
    margin: 0 auto;
    top: 9px;
}

.photo {
    margin: 0 auto;
    position: relative;
    width: 60px;
    height: 58px;
    left: 0.5px;
    top: 0.5px;
    border-radius: 3px;
    overflow: hidden;
}

.user-gift-image {
    width: 35px;
    height: 0;
    z-index: 11;
    padding-left: 10px;
    margin-left: 50px;
    margin-top: 0;
    padding-top: 2px;
    position: relative;
    top: -4px;
}

.user-gift-image-left {
    width: 35px;
    height: 0;
    z-index: 11;
    padding-left: 0;
    margin-left: -11px;
    margin-top: 0;
    padding-top: 2px;
    position: relative;
    top: -4px;
}

.gift {
    width: 34px;
    height: 36px;
    left: 0;
    margin-left: -12px;
    position: relative;
    top: -2px;
}

.add-gift-left {
    margin-left: -17px;
}

.username a{
text-decoration: none;
    text-align: center;
    display: block;
    letter-spacing:0;
    font-weight: 800;
    color: #fff;
}

.username{
    text-align: center;
    display: block;
    font-weight: 800;
    color: #fff;
    position: relative;
    top: 4px;
    font-size: 11px;
    width: 66px;
    text-transform: capitalize;
    text-shadow:
        0 0 0.5px #89989d,
        0 0 0.5px #89989d,
        0 0 0.5px #89989d,
        0 0 0.5px #89989d,
        0 0 0.6px #89989d,

        0.2px 0 0.5px #89989d,
        0.2px 0 0.5px #89989d,
        0.2px 0 0.5px #89989d,
        0.2px 0 0.5px #89989d,
        0.2px 0 0.6px #89989d,
        0.4px 0 0.5px #89989d,
        0.4px 0 0.5px #89989d,
        0.4px 0 0.5px #89989d,
        0.4px 0 0.5px #89989d,
        0.4px 0 0.6px #89989d,

        -0.2px 0 0.5px #89989d,
        -0.2px 0 0.5px #89989d,
        -0.2px 0 0.5px #89989d,
        -0.2px 0 0.5px #89989d,
        -0.2px 0 0.6px #89989d,
        -0.4px 0 0.5px #89989d,
        -0.4px 0 0.5px #89989d,
        -0.4px 0 0.5px #89989d,
        -0.4px 0 0.5px #89989d,
        -0.4px 0 0.6px #89989d,

        0 0.2px 0.5px #89989d,
        0 0.2px 0.5px #89989d,
        0 0.2px 0.5px #89989d,
        0 0.2px 0.5px #89989d,
        0 0.2px 0.6px #89989d,
        0 0.4px 0.5px #89989d,
        0 0.4px 0.5px #89989d,
        0 0.4px 0.5px #89989d,
        0 0.4px 0.5px #89989d,
        0 0.4px 0.6px #89989d,

        0 -0.2px 0.5px #89989d,
        0 -0.2px 0.5px #89989d,
        0 -0.2px 0.5px #89989d,
        0 -0.2px 0.5px #89989d,
        0 -0.2px 0.6px #89989d,
        0 -0.4px 0.5px #89989d,
        0 -0.4px 0.5px #89989d,
        0 -0.4px 0.5px #89989d,
        0 -0.4px 0.5px #89989d,
        0 -0.4px 0.6px #89989d,

/*outside*/

        0 1.2px 0.5px #DDE4E6,
        0 1.4px 0.5px #DDE4E6,
        0 1.6px 0.5px #DDE4E6,
        0 1.8px 0.5px #DDE4E6,
        0 2.0px 0.6px #DDE4E6,
        0 2.2px 0.5px #DDE4E6,

        -1.2px 0 0.6px #DDE4E6,
        -1.4px 0 0.5px #DDE4E6,
        -1.6px 0 0.5px #DDE4E6,
        -1.8px 0 0.5px #DDE4E6,
        -2.0px 0 0.5px #DDE4E6,
        -2.2px 0 0.6px #DDE4E6,

        -1.2px 1.2px 0.6px #DDE4E6,
        -1.4px 1.4px 0.5px #DDE4E6,
        -1.6px 1.6px 0.5px #DDE4E6,
        -1.8px 1.8px 0.5px #DDE4E6,
        -2.0px 2.0px 0.5px #DDE4E6,
        -2.2px 2.2px 0.6px #DDE4E6,

        1.2px 0 0.6px #DDE4E6,
        1.4px 0 0.5px #DDE4E6,
        1.6px 0 0.5px #DDE4E6,
        1.8px 0 0.5px #DDE4E6,
        2.0px 0 0.5px #DDE4E6,
        2.2px 0 0.6px #DDE4E6,

        1.2px 1.2px 0.5px #DDE4E6,
        1.4px 1.4px 0.5px #DDE4E6,
        1.6px 1.6px 0.5px #DDE4E6,
        1.8px 1.8px 0.5px #DDE4E6,
        2px 2px 0.5px #DDE4E6;
    letter-spacing: 0.4px;
    -webkit-font-smoothing: antialiased;

    /*text-shadow:*/
        /*0 0.1px 0 #89989d,*/
        /*0 0.2px 0 #8d9ea4,*/
        /*0 0.3px 0 #8d9ea4,*/
        /*0 0.4px 0 #8d9ea4,*/
        /*0 0.5px 0 #8d9ea4,*/
        /*0 0.6px 0 #8d9ea4,*/
        /*0 0.7px 0 #8d9ea4,*/
        /*0 0.8px 0 #8d9ea4,*/

        /*0 -0.1px 0 #8d9ea4,*/
        /*0 -0.2px 0 #8d9ea4,*/
        /*0 -0.3px 0 #8d9ea4,*/
        /*0 -0.4px 0 #8d9ea4,*/
        /*0 -0.5px 0 #8d9ea4,*/
        /*0 -0.6px 0 #8d9ea4,*/
        /*0 -0.7px 0 #8d9ea4,*/
        /*0 -0.8px 0 #8d9ea4,*/

        /*0.1px 0.1px 0 #8d9ea4,*/
        /*0.2px 0.2px 0 #8d9ea4,*/
        /*0.3px 0.3px 0 #8d9ea4,*/
        /*0.4px 0.4px 0 #8d9ea4,*/
        /*0.5px 0.5px 0 #8d9ea4,*/
        /*0.6px 0.6px 0 #8d9ea4,*/
        /*0.7px 0.7px 0 #8d9ea4,*/
        /*0.8px 0.8px 0 #8d9ea4,*/

        /*0.1px -0.1px 0 #8d9ea4,*/
        /*0.2px -0.2px 0 #8d9ea4,*/
        /*0.3px -0.3px 0 #8d9ea4,*/
        /*0.4px -0.4px 0 #8d9ea4,*/
        /*0.5px -0.5px 0 #8d9ea4,*/
        /*0.6px -0.6px 0 #8d9ea4,*/
        /*0.7px -0.7px 0 #8d9ea4,*/
        /*0.8px -0.8px 0 #8d9ea4,*/

        /*-0.1px -0.1px 0 #8d9ea4,*/
        /*-0.2px -0.2px 0 #8d9ea4,*/
        /*-0.3px -0.3px 0 #8d9ea4,*/
        /*-0.4px -0.4px 0 #8d9ea4,*/
        /*-0.5px -0.5px 0 #8d9ea4,*/
        /*-0.6px -0.6px 0 #8d9ea4,*/
        /*-0.7px -0.7px 0 #8d9ea4,*/
        /*-0.8px -0.8px 0 #8d9ea4,*/

        /*-0.1px 0.1px 0 #8d9ea4,*/
        /*-0.2px 0.2px 0 #8d9ea4,*/
        /*-0.3px 0.3px 0 #8d9ea4,*/
        /*-0.4px 0.4px 0 #8d9ea4,*/
        /*-0.5px 0.5px 0 #8d9ea4,*/
        /*-0.6px 0.6px 0 #8d9ea4,*/
        /*-0.7px 0.7px 0 #8d9ea4,*/
        /*-0.8px 0.8px 0 #8d9ea4,*/

        /*0.1px 0 0 #8d9ea4,*/
        /*0.2px 0 0 #8d9ea4,*/
        /*0.3px 0 0 #8d9ea4,*/
        /*0.4px 0 0 #8d9ea4,*/
        /*0.5px 0 0 #8d9ea4,*/
        /*0.6px 0 0 #8d9ea4,*/
        /*0.7px 0 0 #8d9ea4,*/
        /*0.8px 0 0 #8d9ea4,*/

        /*-0.1px 0 0 #8d9ea4,*/
        /*-0.2px 0 0 #8d9ea4,*/
        /*-0.3px 0 0 #8d9ea4,*/
        /*-0.4px 0 0 #8d9ea4,*/
        /*-0.5px 0 0 #8d9ea4,*/
        /*-0.6px 0 0 #8d9ea4,*/
        /*-0.7px 0 0 #8d9ea4,*/
        /*-0.8px 0 0 #8d9ea4,*/
        /*1px 1px 0.2px #DDE4E6,*/
        /*1.2px 1.2px 0.2px #DDE4E6,*/
        /*1.4px 1.4px 0.2px #DDE4E6,*/
        /*1.6px 1.6px 0.2px #DDE4E6,*/
        /*1.8px 1.8px 0.2px #DDE4E6,*/
        /*2px 2px 0.2px #DDE4E6,*/
        /*2.2px 2.2px 0.2px #DDE4E6,*/
        /*2.4px 2.4px 0.2px #DDE4E6,*/
        /*2.6px 2.6px 0.2px #DDE4E6,*/
        /*2.8px 2.8px 0.2px #DDE4E6,*/
        /*3px 3px 0.2px #DDE4E6,*/

        /*-1px 0 0.2px #DDE4E6,*/
        /*-1.2px 0 0.2px #DDE4E6,*/
        /*-1.4px 0 0.2px #DDE4E6,*/
        /*-1.6px 0 0.2px #DDE4E6,*/
        /*-1.8px 0 0.2px #DDE4E6,*/
        /*-2px 0 0.2px #DDE4E6,*/
        /*-2.2px 0 0.2px #DDE4E6,*/
        /*-2.4px 0 0.2px #DDE4E6,*/
        /*-2.6px 0 0.2px #DDE4E6,*/
        /*-2.8px 0 0.2px #DDE4E6,*/
        /*-3px 3px 0.2px #DDE4E6,*/

        /*-0.2px 3px 0.2px #DDE4E6,*/
        /*-0.4px 3px 0.2px #DDE4E6,*/
        /*-0.6px 3px 0.2px #DDE4E6,*/
        /*-0.8px 3px 0.2px #DDE4E6,*/
        /*-1px 3px 0.2px #DDE4E6,*/
        /*-1.2px 3px 0.2px #DDE4E6,*/
        /*-1.4px 3px 0.2px #DDE4E6,*/
        /*-1.6px 3px 0.2px #DDE4E6,*/
        /*-1.8px 3px 0.2px #DDE4E6,*/
        /*-2px 3px 0.2px #DDE4E6,*/
        /*-2.2px 3px 0.2px #DDE4E6,*/
        /*-2.4px 3px 0.2px #DDE4E6,*/
        /*-2.6px 3px 0.2px #DDE4E6,*/
        /*-2.8px 3px 0.2px #DDE4E6;*/
    -webkit-font-smoothing: antialiased;

  /*text-shadow:*/
      /*1px 1px 1px #8d9ea4,*/
      /*-1px -1px 1px #8d9ea4,*/
      /*-1px 1px 1px #8d9ea4,*/
      /*1px -1px 1px #8d9ea4,*/
      /*-1px 0px 1px #8d9ea4,*/
      /*1px 0 1px #8d9ea4,*/
      /*0 1px 1px #8d9ea4,*/
      /*0 -1px 1px #8d9ea4,*/


      /*2px 4px 1px #D5DDE0,*/
      /*-2px 4px 1px #D5DDE0,*/
      /*3px 4px 1px #D5DDE0,*/
      /*2px 0 1px #D5DDE0,*/
      /*-2px 2px 1px #D5DDE0,*/
      /*2px 0 1px #D5DDE0,*/
      /*0 2px 1px #D5DDE0,*/


      /*3px 3px 1px #D5DDE0,*/
      /*-3px 3px 1px #D5DDE0,*/
      /*-3px 3px 1px #D5DDE0,*/
      /*3px 0 1px #D5DDE0,*/
      /*-3px 0 1px #D5DDE0,*/
      /*3px 0 1px #D5DDE0,*/
      /*0 3px 1px #D5DDE0;*/
}

#place-1 {
    margin-right: 3px;
}

#place-4{
    margin-right: 1px;
}

#place-6,#place-8{
    margin-right: 1px;
}

#place-10 {
    position: relative;
    left: -2px;
}

.user-wrapper-invite  {
    width: 61px;
    height: 61px;
    background-color: #F5F8F9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    top: 11px;
    left: 3px;
}

.username.invite {
    left: -4px;
    text-align: center;
    position: relative;
}

.user-invite-bg {
    background-color: #C8D1D6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 4px;
    position: relative;
    top: -0.2px;
    width: 59.5px;
    height: 57px;
    left: 0.5px;
    box-shadow: inset 0px 3px 0px 1px #BCC9CF;
}

.add-user {
    width: 30px;
    height: 30px;
    background-image: url('../images/sprites@2x.png');
    background-size: 277px 135px;
    background-position: -478.100008px 1.1px;
    position: relative;
    top: 10px;
    left: 14px;
    cursor: pointer;
}

.user-invite-bg:hover {
    background-color: #ccd5da;
}

.photo-active {
    position: relative;
    left: 2px;
    top: 1px;
    width: 23px;
    height: 24px;
    border-radius: 4px;
    overflow: hidden;
}

.audio-wrapper {
    position: fixed;
    padding-left: 46px;
}

.current-audio {
    position: relative;
    top: 3px;
}

.current-track {
    font-size: 9.5px;
    color: #fff;
    font-weight: 600;
    position: relative;
    left: 20px;
    /*text-shadow: 1px 1px 1px #97a8ad,*/
    /*-1px -1px 1px #97a8ad,*/
    /*-1px 1px 1px #97a8ad,*/
    /*1px -1px 1px #7B8A8F,*/
    /*-1px 0px 1px #97a8ad,*/
    /*1px 0 1px #97a8ad,*/
    /*0 1px 1px #97a8ad,*/
    /*0 -1px 1px #97a8ad;*/

    text-shadow:
        0 0 0.5px #89989d,
        0 0 0.5px #89989d,
        0 0 0.5px #89989d,
        0 0 0.5px #89989d,
        0 0 0.6px #89989d,

        0.2px 0 0.5px #89989d,
        0.2px 0 0.5px #89989d,
        0.2px 0 0.5px #89989d,
        0.2px 0 0.5px #89989d,
        0.2px 0 0.6px #89989d,
        0.4px 0 0.5px #89989d,
        0.4px 0 0.5px #89989d,
        0.4px 0 0.5px #89989d,
        0.4px 0 0.5px #89989d,
        0.4px 0 0.6px #89989d,

        -0.2px 0 0.5px #89989d,
        -0.2px 0 0.5px #89989d,
        -0.2px 0 0.5px #89989d,
        -0.2px 0 0.5px #89989d,
        -0.2px 0 0.6px #89989d,
        -0.4px 0 0.5px #89989d,
        -0.4px 0 0.5px #89989d,
        -0.4px 0 0.5px #89989d,
        -0.4px 0 0.5px #89989d,
        -0.4px 0 0.6px #89989d,

        0 0.2px 0.5px #89989d,
        0 0.2px 0.5px #89989d,
        0 0.2px 0.5px #89989d,
        0 0.2px 0.5px #89989d,
        0 0.2px 0.6px #89989d,
        0 0.4px 0.5px #89989d,
        0 0.4px 0.5px #89989d,
        0 0.4px 0.5px #89989d,
        0 0.4px 0.5px #89989d,
        0 0.4px 0.6px #89989d,

        0 -0.2px 0.5px #89989d,
        0 -0.2px 0.5px #89989d,
        0 -0.2px 0.5px #89989d,
        0 -0.2px 0.5px #89989d,
        0 -0.2px 0.6px #89989d,
        0 -0.4px 0.5px #89989d,
        0 -0.4px 0.5px #89989d,
        0 -0.4px 0.5px #89989d,
        0 -0.4px 0.5px #89989d,
        0 -0.4px 0.6px #89989d,

            /*outside*/

        0 1.2px 0.5px #DDE4E6,
        0 1.4px 0.5px #DDE4E6,
        0 1.6px 0.5px #DDE4E6,
        0 1.8px 0.5px #DDE4E6,
        0 2.0px 0.6px #DDE4E6,
        0 2.2px 0.5px #DDE4E6,

        -1.2px 0 0.6px #DDE4E6,
        -1.4px 0 0.5px #DDE4E6,
        -1.6px 0 0.5px #DDE4E6,
        -1.8px 0 0.5px #DDE4E6,
        -2.0px 0 0.5px #DDE4E6,
        -2.2px 0 0.6px #DDE4E6,

        -1.2px 1.2px 0.6px #DDE4E6,
        -1.4px 1.4px 0.5px #DDE4E6,
        -1.6px 1.6px 0.5px #DDE4E6,
        -1.8px 1.8px 0.5px #DDE4E6,
        -2.0px 2.0px 0.5px #DDE4E6,
        -2.2px 2.2px 0.6px #DDE4E6,

        1.2px 0 0.6px #DDE4E6,
        1.4px 0 0.5px #DDE4E6,
        1.6px 0 0.5px #DDE4E6,
        1.8px 0 0.5px #DDE4E6,
        2.0px 0 0.5px #DDE4E6,
        2.2px 0 0.6px #DDE4E6,

        1.2px 1.2px 0.5px #DDE4E6,
        1.4px 1.4px 0.5px #DDE4E6,
        1.6px 1.6px 0.5px #DDE4E6,
        1.8px 1.8px 0.5px #DDE4E6,
        2px 2px 0.5px #DDE4E6;
    -webkit-font-smoothing: antialiased;
}

.audio-sign{
    position: fixed;
    width: 23px;
    height: 24px;
    background-image: url('../images/sprites@2x.png');
    background-size: 277px 135px;
    background-position: -520.100008px -48.9px;
    margin-left: -11px;
    top: 11px;
}

.sound-switch {
    width: 27px;
    height: 27px;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
    background: #e0e8eb;
    background: -moz-linear-gradient(top, #e0e8eb 0%, #fff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e0e8eb), color-stop(100%, #f8fafb));
    background: -webkit-linear-gradient(top, #e0e8eb 0%, #fff 100%);
    background: -o-linear-gradient(top, #e0e8eb 0%, #fff 100%);
    background: -ms-linear-gradient(top, #e0e8eb 0%, #fff 100%);
    background: linear-gradient(to bottom, #e0e8eb 0%, #fff 100%);
    position: fixed;
    top: 15px;
    margin-left: 157px;
}

.sound-bg {
    width: 24px;
    height: 24px;
    position: relative;
    border-radius: 24px;
    background-color: #C0CFD4;
    top: 1.5px;
    left: 1.5px;
}

.sound-default-bg {
    width: 22px;
    height: 22px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    position: relative;
    background: #d8e1e4;
    background: -moz-linear-gradient(top, #d8e1e4 0%, #d4dee2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8e1e4), color-stop(100%,#d4dee2));
    background: -webkit-linear-gradient(top, #d8e1e4 0%,#d4dee2 100%);
    background: -o-linear-gradient(top, #d8e1e4 0%,#d4dee2 100%);
    background: -ms-linear-gradient(top, #d8e1e4 0%,#d4dee2 100%);
    background: linear-gradient(to bottom, #d8e1e4 0%,#d4dee2 100%);
    left: 1px;
    top: 2px;
    cursor: pointer;
}

.sound-on-off {
    position: fixed;
    width: 23px;
    height: 23px;
    background-image: url('../images/sprites@2x.png');
    background-size: 277px 135px;
    background-position: -430.1px -102.9px;
    top: 17px;
}

.sound-bg:hover {
    background-color: #bfc8cb;
}

.btn-trash {
    width: 34px;
    height: 34px;
    background-image: url('../images/sprites_color@2x.png');
    background-size: 37px 735px;
    background-position: -0px -664px;
    position: fixed;
    cursor: pointer;
    left: 584px;
}

.btn-trash:active {
    width: 34px;
    height: 34px;
    background-image: url('../images/sprites_color@2x.png');
    background-size: 37px 735px;
    background-position: 1px -663.5px;
    position: fixed;
    cursor: pointer;
    left: 584px;
    border: 0;
    box-shadow: none;
    border-radius: 0;
}

.btn-undo{
    width: 34px;
    height: 34px;
    background-image: url('../images/sprites_color@2x.png');
    background-size: 37px 735px;
    background-position: 0px -698px;
    position: fixed;
    cursor: pointer;
    left: 486px;
}

.btn-undo:active{
    width: 34px;
    height: 34px;
    background-image: url('../images/sprites_color@2x.png');
    background-size: 37px 735px;
    background-position: 1px -697.5px;
    position: fixed;
    cursor: pointer;
    left: 486px;
    border: 0;
    box-shadow: none;
    border-radius: 0;
}


.btn-redo{
    width: 34px;
    height: 34px;
    background-image: url('../images/sprites_color@2x.png');
    background-size: 37px 735px;
    background-position: -0px -629px;
    position: fixed;
    cursor: pointer;
    left: 535px;
}

.btn-redo:active{
    width: 34px;
    height: 34px;
    background-image: url('../images/sprites_color@2x.png');
    background-size: 37px 735px;
    background-position: 1px -628.5px;
    position: fixed;
    cursor: pointer;
    left: 535px;
    border: 0;
    box-shadow: none;
    border-radius: 0;
}


.btn-pencil {
    width: 34px;
    height: 38px;
    background-image: url('../images/sprites_color@2x.png');
    background-size: 37px 735px;
    background-position: -0px -585px;
    position: relative;
    top: 45px;
    left: 16px;
    cursor: pointer;
}

.btn-pencil:active {
    width: 34px;
    height: 38px;
    background-image: url('../images/sprites_color@2x.png');
    background-size: 37px 735px;
    background-position: 1px -584.5px;
    position: relative;
    top: 45px;
    left: 16px;
    cursor: pointer;
    border: 0;
    box-shadow: none;
}


.btn-painter  {
    width: 34px;
    height: 38px;
    background-image: url('../images/sprites_color@2x.png');
    background-size: 37px 735px;
    background-position: -0px -525px;
    position: relative;
    top: 5px;
    left: 16px;
    cursor: pointer;
    float: left;
}

.btn-painter:active  {
    width: 34px;
    height: 38px;
    background-image: url('../images/sprites_color@2x.png');
    background-size: 37px 735px;
    background-position: 1px -524.5px;
    position: relative;
    top: 5px;
    left: 16px;
    cursor: pointer;
    float: left;
    border: 0;
    box-shadow: none;
}

.btn-eraser  {
    width: 34px;
    height: 38px;
    background-image: url('../images/sprites_color@2x.png');
    background-size: 37px 735px;
    background-position: -0px -453px;
    position: relative;
    top: 4px;
    left: 45px;
    cursor: pointer;
    float: left;
}

.btn-eraser:active  {
    width: 34px;
    height: 38px;
    background-image: url('../images/sprites_color@2x.png');
    background-size: 37px 735px;
    background-position: 1px -452.5px;
    position: relative;
    top: 4px;
    left: 45px;
    cursor: pointer;
    float: left;
    border: 0;
    box-shadow: none;
}


.empty-1  {
    width: 34px;
    height: 38px;
    background-image: url('../images/sprites_color@2x.png');
    background-size: 37px 735px;
    background-position: 0 -193px;
    position: relative;
    top: 4px;
    left: 75px;
    float: left;
}

.empty-2  {
    width: 34px;
    height: 38px;
    background-image: url('../images/sprites_color@2x.png');
    background-size: 37px 735px;
    background-position: 0 -236px;
    position: relative;
    top: 3px;
    left: 106px;
    float: left;
}

.empty-3  {
    width: 34px;
    height: 38px;
    background-image: url('../images/sprites_color@2x.png');
    background-size: 37px 735px;
    background-position: 0 -280px;
    position: relative;
    top: 2px;
    left: 138px;
    float: left;
}

.empty-4 {
    width: 34px;
    height: 45px;
    background-image: url('../images/sprites_color@2x.png');
    background-size: 37px 735px;
    background-position: 0 -320px;
    position: relative;
    top: -2px;
    left: 183px;
    float: left;
}

.empty-5 {
    width: 34px;
    height: 45px;
    background-image: url('../images/sprites_color@2x.png');
    background-size: 37px 735px;
    background-position: 0 -365px;
    position: relative;
    top: -2px;
    left: 216px;
    float: left;
}

.empty-6 {
    width: 34px;
    height: 40px;
    background-image: url('../images/sprites_color@2x.png');
    background-size: 37px 735px;
    background-position: 0 -411px;
    position: relative;
    top: 1px;
    left: 248px;
    float: left;
}

.lock-1 {
    position: relative;
    left: 20px;
    top: -3px;
}

.lock-2 {
    position: relative;
    left: 20px;
    top: -2px;
}

.lock-3 {
    position: relative;
    left: 24px;
}

.lock-4 {
    position: relative;
    left: 18px;
    top: 3px;
}

.lock-5 {
    position: relative;
    left: 24px;
    top: 3px;
}

.lock-6 {
    position: relative;
    left: 24px;
    top: 1px;
}

.ready {
    background-color: #E6ECEB;
    -webkit-border-radius: 51px;
    -moz-border-radius: 51px;
    border-radius: 51px;
    padding-bottom: 6px;
    position: relative;
    width: 86px;
    float: right;
    height: 35px;
    margin-right: -5px;
}

button.btn.btn-riu-success {
    position: relative;
    z-index: 9999;
    /* top: 523px; */
    /* left: 627px; */
    border-radius: 51px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
    background: #00c81d;
    background: -moz-linear-gradient(top, #00c81d 0%, #00c71c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00c81d), color-stop(100%,#00c71c));
    background: -webkit-linear-gradient(top, #00c81d 0%,#00c71c 100%);
    background: -o-linear-gradient(top, #00c81d 0%,#00c71c 100%);
    background: -ms-linear-gradient(top, #00c81d 0%,#00c71c 100%);
    background: linear-gradient(to bottom, #00c81d 0%,#00c71c 100%);
    border: 1.5px solid #0caf23;
    border-bottom: 0;
    color: #fff;
    font-weight: 800;
    box-shadow: 0 3px #00A500;
    text-transform: capitalize;
    text-shadow: 0 0 0.5px #0caf23,
    0 0 0.5px #0caf23,
    0 0 0.6px #0caf23,
    0.2px 0 0.5px #0caf23,
    0.2px 0 0.6px #0caf23,
    0.4px 0 0.5px #0caf23,
    -0.2px 0 0.5px #0caf23,
    -0.4px 0 0.5px #0caf23,
    0 0.2px 0.5px #0caf23,
    0 0.4px 0.5px #0caf23,
    0 -0.2px 0.5px #0caf23,
    0 -0.4px 0.5px #0caf23,
    0 0.2px 0.5px #0caf23,
    0 0.4px 0.5px #0caf23,
    0 0.6px 0.5px #0caf23,
    0 1.2px 0.5px #0caf23,
    0 1.6px 0.5px #0caf23,
    0 2.0px 0.5px #0caf23,
    0 2.2px 0.5px #0caf23;
    float: right;
    bottom: 4px;
}

button.btn.btn-riu-success:hover {
    background-image: linear-gradient(#00C81D, #0caf23);

}


.bottom-panel-paint {
    position: fixed;
    padding-top: 15px;
    width: 600px;
    height: 45px;
    /* position: fixed; */
    /* z-index: 999; */
    /* left: 111px; */
    /* padding-top: 15px; */
    /* width: 600px; */
    /* height: 45px; */
    /* top: 161px; */
    left: 111px;
    top: 513px;
}

.brush {
    background-color: #B5C2CA;
    position: relative;
    z-index: 999;
}



.brush-icon-wrapper.active {
    width: 33px;
    height: 33px;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    border-radius: 33px;
    background: #e0e8eb;
    background: -moz-linear-gradient(top, #e0e8eb 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e8eb), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top, #e0e8eb 0%,#ffffff 100%);
    background: -o-linear-gradient(top, #e0e8eb 0%,#ffffff 100%);
    background: -ms-linear-gradient(top, #e0e8eb 0%,#ffffff 100%);
    background: linear-gradient(to bottom, #e0e8eb 0%,#ffffff 100%);
    position: relative;
    float: left;
    left: 0;
    top: -3px;
    margin-bottom: -5px;
}

.brush-form-wrapper {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    position: relative;
    float: left;
    left: 8.5px;
    top: -3px;
    margin-bottom: -5px;
}

.brush-form-wrapper.active {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    background: #e0e8eb;
    background: -moz-linear-gradient(top, #e0e8eb 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e8eb), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top, #e0e8eb 0%,#ffffff 100%);
    background: -o-linear-gradient(top, #e0e8eb 0%,#ffffff 100%);
    background: -ms-linear-gradient(top, #e0e8eb 0%,#ffffff 100%);
    background: linear-gradient(to bottom, #e0e8eb 0%,#ffffff 100%);
    position: relative;
    float: left;
    left: 8.5px;
    top: -3px;
}


.brush-form-wrapper.active>.brush-form-inside {
    width: 32px;
    height: 32px;
    position: relative;
    top: 5px;
    -webkit-border-radius: 37px;
    -moz-border-radius: 37px;
    border-radius: 37px;
    left: 4px;
    cursor: pointer;
    background-color: #E9EEF1;
    box-shadow: 0 -2px 0px #B9C8CE;
    margin-bottom: 2px;
}

.brush-form-inside {
    width: 32px;
    height: 32px;
    position: relative;
    top: 5px;
    -webkit-border-radius: 37px;
    -moz-border-radius: 37px;
    border-radius: 37px;
    left: 4px;
    cursor: pointer;
    margin-bottom: 2px;
}



.brush-icon-wrapper {
    width: 33px;
    height: 33px;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    border-radius: 33px;
    position: relative;
    float: left;
    left: 0;
    cursor: pointer;
    top: -3px;

}

.time-wrapper {
    width: 76px;
    height: 41px;
    margin-top: -6px;
    -webkit-border-radius: 38px;
    -moz-border-radius: 38px;
    border-radius: 38px;
    position: fixed;
    left: 390px;
    background: #e0e8eb;
    background: -moz-linear-gradient(top, #e0e8eb 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e0e8eb), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(top, #e0e8eb 0%, #ffffff 100%);
    background: -o-linear-gradient(top, #e0e8eb 0%, #ffffff 100%);
    background: -ms-linear-gradient(top, #e0e8eb 0%, #ffffff 100%);
    background: linear-gradient(to bottom, #e0e8eb 0%, #ffffff 100%);
}

.time-wrapper-bg {
    width: 69px;
    height: 33px;
    background-color: #D9E1E4;
    box-shadow: 0px -2px 0 #C3CED3;
    border-radius: 22px;
    position: relative;
    top: 5px;
    left: 3.5px;

}

span.timer {
    text-align: center;
    position: relative;
    padding-left: 13px;
    top: 5px;
    font-weight: 800;
    color: #fff;
    font-size: 16px;
    text-shadow: 0 0 0.5px #89989d,
0 0 0.5px #89989d,
0 0 0.5px #89989d,
0 0 0.5px #89989d,
0 0 0.6px #89989d,

0.2px 0 0.5px #89989d,
0.4px 0 0.5px #89989d,
0.4px 0 0.6px #89989d,

-0.2px 0 0.5px #89989d,
-0.2px 0 0.6px #89989d,
-0.4px 0 0.5px #89989d,
-0.4px 0 0.6px #89989d,

0 0.2px 0.5px #89989d,
0 0.4px 0.5px #89989d,
0 0.4px 0.6px #89989d,

0 -0.2px 0.5px #89989d,
0 -0.2px 0.6px #89989d,
0 -0.4px 0.5px #89989d,
0 -0.4px 0.6px #89989d,

    /*outside*/

0 1.2px 0.5px #DDE4E6,
0 1.4px 0.5px #DDE4E6,
0 1.6px 0.5px #DDE4E6,
0 1.8px 0.5px #DDE4E6,
0 2.0px 0.6px #DDE4E6,
0 2.2px 0.5px #DDE4E6,

-1.2px 0 0.6px #DDE4E6,
-1.4px 0 0.5px #DDE4E6,
-1.6px 0 0.5px #DDE4E6,
-1.8px 0 0.5px #DDE4E6,
-2.0px 0 0.5px #DDE4E6,
-2.2px 0 0.6px #DDE4E6,

-1.2px 1.2px 0.6px #DDE4E6,
-1.4px 1.4px 0.5px #DDE4E6,
-1.6px 1.6px 0.5px #DDE4E6,
-1.8px 1.8px 0.5px #DDE4E6,
-2.0px 2.0px 0.5px #DDE4E6,
-2.2px 2.2px 0.6px #DDE4E6,

1.2px 0 0.6px #DDE4E6,
1.4px 0 0.5px #DDE4E6,
1.6px 0 0.5px #DDE4E6,
1.8px 0 0.5px #DDE4E6,
2.0px 0 0.5px #DDE4E6,
2.2px 0 0.6px #DDE4E6,

1.2px 1.2px 0.5px #DDE4E6,
1.4px 1.4px 0.5px #DDE4E6,
1.6px 1.6px 0.5px #DDE4E6,
1.8px 1.8px 0.5px #DDE4E6,
2px 2px 0.5px #DDE4E6;

}

.brush-inside {
    width: 27px;
    height: 27px;
    position: relative;
    top: 4px;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    border-radius: 27px;
    left: 3px;
    cursor: pointer;
}



.brush-form {
    width: 22px;
    height: 22px;
    position: relative;
    margin: 0 auto;
}

.brush-form-1 {
    background-image: url('../images/sprites_color@2x.png');
    background-size: 37px 735px;
    background-position: 1px -0px;
    top: 5px;
}

.brush-form-2 {
    background-image: url('../images/sprites_color@2x.png');
    background-size: 37px 735px;
    background-position: 0 592px;
    top: 5px;
}


.brush-form-3 {
    background-image: url('../images/sprites_color@2x.png');
    background-size: 37px 735px;
    background-position: 1px -119.5px;
    top: 5px;
}


.brush-form-4 {
    background-image: url('../images/sprites_color@2x.png');
    background-size: 37px 735px;
    background-position: 1px -71.5px;
    top: 5px;
}


.brush-form-5 {
    background-image: url('../images/sprites_color@2x.png');
    background-size: 37px 735px;
    background-position: 1px -170.5px;
    top: 5px;
}


.brush-form-6 {
    background-image: url('../images/sprites_color@2x.png');
    background-size: 37px 735px;
    background-position: 1px -47px;
    top: 5px;
}


.brush-form-7 {
    background-image: url('../images/sprites_color@2x.png');
    background-size: 37px 735px;
    background-position: 1px -23.5px;
    top: 5px;
}

.brush-form-8 {
    background-image: url('../images/sprites_color@2x.png');
    background-size: 37px 735px;
    background-position: 1px -95.5px;
    top: 5px;
}




.brush-icon-wrapper.active>.brush-inside {
    width: 27px;
    height: 27px;
    position: relative;
    top: 4px;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    border-radius: 27px;
    left: 3px;
    background-color: #E9EEF1;
    cursor: default;
    box-shadow: 0 -1px 0  #B9C8CE;
}

.brush-icon-wrapper.active>.brush-inside >.brush{
cursor:default;
    background-color:#526A76 ;
}

.brush-icon-wrapper:hover>.brush-inside>.brush{

    background-color:#526A76 ;
}


.size-1{
    width: 21px;
    height: 21px;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    border-radius: 21px;
    top: 2px;
    left: 3px;
    position: relative;
    float: left;
    cursor: pointer;
}


.size-2{
    width: 15px;
    height: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    top: 5px;
    left: 6px;
    position: relative;
    float: left;
    cursor: pointer;
}

.size-3{
    width: 13px;
    height: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    top: 6px;
    left: 6.5px;
    position: relative;
    float: left;
    cursor: pointer;
}

.size-4{
    width: 11px;
    height: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    top: 7px;
    left: 7.5px;
    position: relative;
    float: left;
    cursor: pointer;
}

.size-5{
    width: 8px;
    height: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    top: 8.5px;
    left: 9px;
    position: relative;
    float: left;
    cursor: pointer;
}


.size-6{
    width: 5px;
    height: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    top: 10px;
    left: 11px;
    position: relative;
    float: left;
    cursor: pointer;
}







