.icon-wrapper-big{
    width: 54px;
    height: 54px;
    -webkit-border-radius: 54px;
    -moz-border-radius: 54px;
    border-radius: 54px;
    background: #e0e8eb; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwZThlYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #e0e8eb 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e8eb), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e0e8eb 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e0e8eb 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e0e8eb 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e0e8eb 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e8eb', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */

}

.icon-wrapper-settings {
    position: fixed;
    top: 113px;
    left: 16px;
}

.icon-wrapper-cup {
    position: fixed;
    top: 69px;
    left: 86px;
}


.icon-wrapper-grand {
    width: 42px;
    height: 42px;
    -webkit-border-radius: 42px;
    -moz-border-radius: 42px;
    border-radius: 42px;
    background: #e0e8eb; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwZThlYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOGZhZmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #e0e8eb 0%, #fff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e8eb), color-stop(100%,#f8fafb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e0e8eb 0%,#fff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e0e8eb 0%,#fff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e0e8eb 0%,#fff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e0e8eb 0%,#fff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e8eb', endColorstr='#fff',GradientType=0 ); /* IE6-8 */
    position: fixed;
    top: 5px;
    left: 5px;
}


.icon-grand-bg {
    background-color: #9eb1b8;
    width: 36px;
    height: 36px;
    border-radius: 36px;
    position: relative;
    margin: 0 auto;
    top: 3px
}



.icon-grand-big {
    width: 32.5px;
    height: 32.5px;
    position: relative;
    top: 1.5px;
    -webkit-border-radius: 36px;
    -moz-border-radius: 36px;
    border-radius: 36px;
    right: -1.5px;
    background: #cfdae1;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #cfdae1 0%, #c1cdd3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfdae1), color-stop(100%,#c1cdd3));
    background: -webkit-linear-gradient(top, #cfdae1 0%,#c1cdd3 100%);
    background: -o-linear-gradient(top, #cfdae1 0%,#c1cdd3 100%);
    background: -ms-linear-gradient(top, #cfdae1 0%,#c1cdd3 100%);
    background: linear-gradient(to bottom, #cfdae1 0%,#c1cdd3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfdae1', endColorstr='#c1cdd3',GradientType=0 );
    text-align: center;
    padding-left: 1px;

}


.icon-big-bg {
    background-color: #C5D2D7;
    width: 48px;
    height: 48px;
    border-radius: 48px;
    position: relative;
    margin: 0 auto;
    top: 3px;
}

.icon-big-bg:hover {
  background-color: #C0CBCF;
}


.icon-big {
    width: 46px;
    height: 46px;
    position: relative;
    top: 2px;
    -webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    border-radius: 48px;
    right: -1px;
    background: #d8e1e4; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q4ZTFlNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNGRlZTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #d8e1e4 0%, #d4dee2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8e1e4), color-stop(100%,#d4dee2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d8e1e4 0%,#d4dee2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d8e1e4 0%,#d4dee2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d8e1e4 0%,#d4dee2 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d8e1e4 0%,#d4dee2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8e1e4', endColorstr='#d4dee2',GradientType=0 ); /* IE6-8 */

}


/*icons*/

.cog-icon{
    background-position: 7.5px 6.489586px;
    background-image: url('../images/sprites.png');
    background-repeat: no-repeat;
    width: 46px;
    height: 46px;
    cursor: pointer;
    border-radius: 46px;
    position: relative;
    background-color: #D7E0E3;
    top: 0;
    left: 0;
}

.cup-icon{
    background-position: -142.5px 7.489586px;
    background-image: url('../images/sprites.png');
    background-repeat: no-repeat;
    width: 46px;
    height: 46px;
    cursor: pointer;
    border-radius: 46px;
    position: relative;
    background-color: #D7E0E3;
    top: 0;
    left: 0;
}

.icon-inside-big-hover:hover {
    -webkit-box-shadow: inset 6px 2px 5px -6px rgba(190, 207, 214, 0.95);
    -moz-box-shadow: inset 6px 2px 5px -6px rgba(190, 207, 214, 0.95);
    box-shadow: inset 6px 2px 5px -6px rgba(190, 207, 214, 0.95);
}

.counter-wrapper {
    width: 19px;
    height: 19px;
    background-color: #fff;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    position: fixed;
    margin-left: 36px;
    z-index: 10;
    margin-top: -5px;
}

.counter-bg {
    background-color: #F41B41;
    width: 16px;
    height: 16px;
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    top: 1.5px;
    position: relative;
    left: 1.5px;
    -webkit-box-shadow: inset 0px 1.5px 2px 0px rgba(175, 0, 0, 0.8);
    -moz-box-shadow: inset 0px 1.5px 2px 0px rgba(175, 0, 0, 0.8);
    box-shadow: inset 0px 1.5px 2px 0px rgba(175, 0, 0, 0.8);
    text-align: center;
}

.gift-count {
    font-size: 10px;
    color: #fff;
    font-weight: bold;
    position: relative;
    bottom :3px;
    letter-spacing: 0;
}

.cog-grand {
    font-weight: 800;
    font-size: 23px;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 4px #8FA0A8, 0 0 4px #8FA0A8, 0 0 1px #8FA0A8, 0 0 4px #8FA0A8, 0 0 3px #8fa0a8, 0 0 3px #8FA0A8, 0 0 3px #8FA0A8, 0 0 0px #8FA0A8;
    position: relative;
    left: 0;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #75848c;
    top: -1px;
}

.coin-balance-wrapper {
    width: 132px;
    height: 33px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    background-color: #B5C2CA;
    right: 32px;
    position: fixed;
    top: 12px;
}

.coin-gold-icon {
    background-position: -46.000008px -49px;
    background-image: url('../images/sprites.png');
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
    float: right;
    position: relative;
    right: -10px;
    top: -1px;
}




