/*MODAL*/

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    background-color: #000;
    opacity:0.6 !important;
}

#modal-buy>.modal-dialog {
    position: fixed;
    left: 195px;
    width: 481px;
    top: 36px;
}


#modal-buy .modal-buy {
    height: 582px;
    top: 39px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    background-image: url('../images/modal_buy_bg.jpg');
    background-size: 522px 670px;
    background-repeat: no-repeat;
    background-position: -11px -44px;
    -webkit-box-shadow: inset 0 3px 3px -1px rgb(235, 235, 235);
    -moz-box-shadow: inset 0 3px 3px -1px rgb(235, 235, 235);
    box-shadow: inset 0 3px 3px -1px rgb(235, 235, 235);
    border: 0;
    padding-top: 41px;
    padding-left: 27px;
    padding-right: 27px;
    border-bottom: 4px solid #D2DADD;
}

#modal-profile>.modal-dialog {
    position: fixed;
    left: 195px;
    width: 493px;
}

#modal-profile .modal-profile {
    width: 492px;
    height: 462px;
    top: 39px;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    background-color: #6BA9E4;
    -webkit-box-shadow: inset 0 3px 0 rgb(133, 190, 235);
    -moz-box-shadow: inset 0 3px 0 rgb(133, 190, 235);
    box-shadow: inset 0 3px 0 rgb(133, 190, 235);
    border: 0;
    padding-top: 41px;
    padding-left: 27px;
    border-bottom: 4px solid #558EC5;
    position: fixed;
    left: 163px;
}

.btn-close-profile {
    background-color: #5899D9 !important;
    -webkit-box-shadow: inset 0 2px 0 #4B8AC6 !important;
    -moz-box-shadow: inset 0 2px 0 #4B8AC6 !important;
    box-shadow: inset 0 2px 0 #4B8AC6 !important;
}

#modal-profile-close {
    position: absolute;
    left: 1.5px;
    top: 4px;
}

.bg-place-profile {
    background-color: #38699F;
    position: relative;
    width: 37px;
    height: 37px;
    -webkit-border-radius: 44px;
    -moz-border-radius: 44px;
    border-radius: 44px;
    left: 2.5px;
    top: 2.5px;
}

.place-profile {
    position: relative;
    background-color: #4A82BD;
    width: 35px;
    height: 35px;
    top: 2px;
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    border-radius: 34px;
    left: 1px;
}

.close-modal-wrapper-profile {
    background-color: #B2BDC3;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    -webkit-box-shadow:  0 2px 0 #83BDEC;
    -moz-box-shadow:  0 2px 0 #83BDEC;
    box-shadow:  0 2px 0 #83BDEC;
    float: right;
    height: 28px;
    position: relative;
    width: 28px;
    right: 9px;
    top: -31px;
}

.place-profile-wrapper {
    width: 42px;
    height: 42px;
    position: relative;
    float: left;
    -webkit-border-radius: 42px;
    -moz-border-radius: 42px;
    border-radius: 42px;
    background: #5290c9;
    background: -moz-linear-gradient(top, #5290c9 0%, #85beeb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5290c9), color-stop(100%,#85beeb));
    background: -webkit-linear-gradient(top, #5290c9 0%,#85beeb 100%);
    background: -o-linear-gradient(top, #5290c9 0%,#85beeb 100%);
    background: -ms-linear-gradient(top, #5290c9 0%,#85beeb 100%);
    background: linear-gradient(to bottom, #5290c9 0%,#85beeb 100%);
    top: -35px;
    left: -21px;
}

.inside-bg-profile {
    width: 472px;
    height: 394px;
    position: relative;
    background-color: #5088C4;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    left: -17px;
    bottom: -17px;
    -webkit-box-shadow: inset 0 -3px 0 rgb(133, 190, 235);
    -moz-box-shadow: inset 0 -3px 0 rgb(133, 190, 235);
    box-shadow: inset 0 -3px 0 rgb(133, 190, 235);
}

#modal-level>.modal-dialog {
    position: fixed;
    left: 239px;
    width: 370px;
    top: 83px;
}

.bg-profile-wrapper {
    width: 470px;
    height: 388px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    background-color: #5D98D2;
    top: 3px;
    position: relative;
    left: 1px;
}

.content-profile-wrapper {
    width: 461px;
    height: 377px;
    background-color: #DAE1E6;
    position: relative;
    -webkit-box-shadow: 0 3px 0 #5088C5;
    -moz-box-shadow: 0 3px 0 #5088C5;
    box-shadow: 0 3px 0 #5088C5;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    border: 1px solid #5088C5;
    margin: 0 auto;
    top: 4px;
}

.profile-container {
    width: 457px;
    height: 366px;
    position: relative;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background-color: #F2F6F7;
    left: 1px;
    -webkit-box-shadow: 0 -3px 2px #fff;
    -moz-box-shadow: 0 -3px 2px #fff;
    box-shadow: 0 -3px 2px #fff;
    top: -37px;
    padding: 22px;
    float: left;
}

.profile-glow {
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.1);
    width: 495px;
    height: 459px;
    border-radius: 31px;
    left: 175px;
    position: fixed;
    top: 57px;
}

#modal-level .modal-level {
    height: 374px;
    top: 39px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    background-image: url('../images/modal_level_bg.jpg');
    background-size: 516px 434px;
    background-repeat: no-repeat;
    background-position: -60px -44px;
    -webkit-box-shadow: inset 0 3px 3px -1px rgb(235, 235, 235);
    -moz-box-shadow: inset 0 3px 3px -1px rgb(235, 235, 235);
    box-shadow: inset 0 3px 3px -1px rgb(235, 235, 235);
    border: 0;
    padding-top: 41px;
    padding-left: 27px;
    padding-right: 27px;
    border-bottom: 4px solid #D2DADD;
}

.modal-right-top-corner {
    float: right;
    position: relative;
    right: -5px;
    top: -114px;
}

.close-modal-wrapper-buy {
    background-color: #B2BDC3;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    -webkit-box-shadow : 0 2px 0 #D2D5D6;
    -moz-box-shadow: 0 2px 0 #D2D5D6;
    box-shadow: 0 2px 0 #D2D5D6;
    float: right;
    height: 28px;
    position: relative;
    right: -153px;
    top: -90px;
    width: 28px;
    z-index: 999;
}

.close-modal-wrapper-level {
    background-color: #B2BDC3;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    -webkit-box-shadow: 0 2px 0 #D2D5D6;
    -moz-box-shadow: 0 2px 0 #D2D5D6;
    box-shadow: 0 2px 0 #D2D5D6;
    float: right;
    height: 28px;
    position: fixed;
    width: 28px;
    right: 7px;
    top: 7px;
}

.btn-close {
    background-color: #B2BDC3;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    -webkit-box-shadow: inset 0px 2px 0px #9CACB3;
    -moz-box-shadow: inset 0px 2px 0px #9CACB3;
    box-shadow: inset 0 2px 0 #9CACB3;
    height: 28px;
    width: 28px;
    position: relative;
}

img#modal-buy-close, img#modal-level-close {
    position: absolute;
    margin: 0 auto;
    left: 3px;
    top: 3px;
}

.modal-title {
    font-size: 33px;
    font-weight: 800;
    color: #fff;
    text-shadow: 1px 1px 1px #7B8A8F,
    -1px -1px 1px #7B8A8F,
    -1px 1px 1px #7B8A8F,
    1px -1px 1px #7B8A8F,
    -1px 0 1px #7B8A8F,
    1px 0 1px #7B8A8F,
    0 1px 1px #7B8A8F,
    0 -1px 1px #7B8A8F,
    2px 2px 1px #A4B4BD,
    -2px 2px 1px #A4B4BD,
    3px 1px 1px #A4B4BD,
    2px 0 1px #A4B4BD,
    -2px 2px 1px #A4B4BD,
    2px 0 1px #A4B4BD,
    0 2px 1px #A4B4BD,
    3px 3px 1px #A4B4BD,
    -3px 2px 1px #A4B4BD,
    -3px 2px 1px #A4B4BD,
    3px 0 1px #A4B4BD,
    -3px 0 1px #A4B4BD,
    3px 0 1px #A4B4BD,
    0 3px 1px #A4B4BD;
    clear: both;
    line-height: 30px;
    position: relative;
    top: -12px;
    left: 4px;
}

.modal-row-wrapper {
    width: 426px;
    height: 68px;
    background: #e0e8eb;
    background: -moz-linear-gradient(top, #e0e8eb 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e8eb), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top, #e0e8eb 0%,#ffffff 100%);
    background: -o-linear-gradient(top, #e0e8eb 0%,#ffffff 100%);
    background: -ms-linear-gradient(top, #e0e8eb 0%,#ffffff 100%);
    background: linear-gradient(to bottom, #e0e8eb 0%,#ffffff 100%);
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    margin-bottom: 6px;
}

.modal-row-bg {
    width: 421px;
    height: 62px;
    background-color: #CDDADE;
    position: relative;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    top: 2.5px;
    left: 2.5px;
}

.modal-row {
    width: 419px;
    height: 60px;
    background-color: #E8EDF0;
    position: relative;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    top: 2px;
    left: 1px;
}

.row-300 {
    background-image: url('../images/300_coins.png');
    background-size: 63px 51px;
    background-repeat: no-repeat;
    background-position: 71px 3px;
}

.row-1500 {
    background-image: url('../images/1500_coins.png');
    background-size: 124px 73px;
    background-repeat: no-repeat;
    background-position: 71px 5px;
}

.row-3200 {
    background-image: url('../images/3200_coins.png');
    background-size: 180px 87px;
    background-repeat: no-repeat;
    background-position: 50px 5px;
}

.row-7500 {
    background-image: url('../images/7500_coins.png');
    background-size: 180px 87px;
    background-repeat: no-repeat;
    background-position: 55px 5px;
}

.row-15000 {
    background-image: url('../images/15000_coins.png');
    background-size: 271px 110px;
    background-repeat: no-repeat;
    background-position: 25px -12px;
}

.row-gift {
    background-image: url('../images/modal_get_present_bg_new.jpg');
    background-size: 409px 114px;
    background-repeat: no-repeat;
    background-position: -97px -12px;
}

.present-row-gift {
    top: -18px;
    position: relative;
    left: -14px;
}

.text-buy-coins {
    position: relative;
    top: -13px;
}

.coins_cost {
    font-weight: 800;
    color: #fff;
    font-size: 29px;
    position: relative;
    top: 0;
    left: 14px;
    text-shadow: 1px 1px 1px #5A6167,
    -1px -1px 1px #5A6167,
    -1px 1px 1px #5A6167,
    1px -1px 1px #5A6167,
    -1px 0 1px #5A6167,
    1px 0 1px #5A6167,
    0 1px 1px #5A6167,
    0 -1px 1px #5A6167,
    -1.4px -1px 1px #5A6167,
    -1.4px 1px 1px #5A6167,
    1.4px -1px 1px #5A6167,
    -1.4px 0 1px #5A6167,
    1.4px 0 1px #5A6167,
    0 1.4px 1px #5A6167,
    0 -1.4px 1px #5A6167,
    2px 2px 1px #A4B4BD,
    -2px 2px 1px #A4B4BD,
    3px 1px 1px #A4B4BD,
    2px 0 1px #A4B4BD,
    -2px 2px 1px #A4B4BD,
    2px 0 1px #A4B4BD,
    0 2px 1px #A4B4BD,
    3px 3px 1px #A4B4BD,
    -3px 2px 1px #A4B4BD,
    -3px 2px 1px #A4B4BD,
    3px 0 1px #A4B4BD,
    -3px 0 1px #A4B4BD,
    3px 0 1px #A4B4BD,
    0 3px 1px #A4B4BD;
}

.coin_300 {
    top: 9px;
}

.coin_1500 {
font-size: 33px;
    text-shadow: 1px 1px 1px #5A6167,
    -1px -1px 1px #5A6167,
    -1px 1px 1px #5A6167,
    1px -1px 1px #5A6167,
    -1px 0 1px #5A6167,
    1px 0 1px #5A6167,
    0 1px 1px #5A6167,
    0 -1px 1px #5A6167,
    -1.4px -1px 1px #5A6167,
    -1.4px 1px 1px #5A6167,
    1.4px -1px 1px #5A6167,
    -1.4px 0 1px #5A6167,
    1.4px 0 1px #5A6167,
    0 1.4px 1px #5A6167,
    0 -1.4px 1px #5A6167,
    2px 2px 1px #A4B4BD,
    -2px 2px 1px #A4B4BD,
    3px 1px 1px #A4B4BD,
    2px 0 1px #A4B4BD,
    -2px 2px 1px #A4B4BD,
    2px 0 1px #A4B4BD,
    0 2px 1px #A4B4BD,
    3px 3px 1px #A4B4BD,
    -3px 2px 1px #A4B4BD,
    -3px 2px 1px #A4B4BD,
    3px 0 1px #A4B4BD,
    -3px 0 1px #A4B4BD,
    3px 0 1px #A4B4BD,
    0 3px 1px #A4B4BD;
    top: 6px;
}

.coin_3200, .coin_7500 {
    font-size: 39px;
    text-shadow: 1px 1px 1px #5A6167,
    -1px -1px 1px #5A6167,
    -1px 1px 1px #5A6167,
    1px -1px 1px #5A6167,
    -1px 0 1px #5A6167,
    1px 0 1px #5A6167,
    0 1px 1px #5A6167,
    0 -1px 1px #5A6167,
    -2px -2px 1px #5A6167,
    -2px 2px 1px #5A6167,
    2px -1px 1px #5A6167,
    -2px 0 1px #5A6167,
    2px 0 1px #5A6167,
    0 2px 1px #5A6167,
    0 -2px 1px #5A6167,
    2px 2px 1px #A4B4BD,
    -2px 2px 1px #A4B4BD,
    3px 1px 1px #A4B4BD,
    2px 0 1px #A4B4BD,
    -2px 2px 1px #A4B4BD,
    2px 0 1px #A4B4BD,
    0 2px 1px #A4B4BD,
    3px 3px 1px #A4B4BD,
    -3px 2px 1px #A4B4BD,
    -3px 2px 1px #A4B4BD,
    3px 0 1px #A4B4BD,
    -3px 0 1px #A4B4BD,
    3px 0 1px #A4B4BD,
    0 3px 1px #A4B4BD;
    top: 1px;
}

.coin_15000 {
    font-size: 43px;
    text-shadow: 1px 1px 1px #5A6167,
    -1px -1px 1px #5A6167,
    -1px 1px 1px #5A6167,
    1px -1px 1px #5A6167,
    -1px 0 1px #5A6167,
    1px 0 1px #5A6167,
    0 1px 1px #5A6167,
    0 -1px 1px #5A6167,
    -2px -2px 1px #5A6167,
    -2px 2px 1px #5A6167,
    2px -1px 1px #5A6167,
    -2px 0 1px #5A6167,
    2px 0 1px #5A6167,
    0 2px 1px #5A6167,
    0 -2px 1px #5A6167,
    2px 2px 1px #A4B4BD,
    -2px 2px 1px #A4B4BD,
    3px 1px 1px #A4B4BD,
    2px 0 1px #A4B4BD,
    -2px 2px 1px #A4B4BD,
    2px 0 1px #A4B4BD,
    0 2px 1px #A4B4BD,
    3px 3px 1px #A4B4BD,
    -3px 2px 1px #A4B4BD,
    -3px 2px 1px #A4B4BD,
    3px 0 1px #A4B4BD,
    -3px 0 1px #A4B4BD,
    3px 0 1px #A4B4BD,
    0 3px 1px #A4B4BD;
}

.button-wrapper-buy {
    width: 126px;
    height: 47px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    background-color: #E0E0E0;
    position: absolute;
    right: 8px;
    margin-bottom: 89px;
    top: 8px;
}

.btn-riu-modal-primary {
    width: 126px;
    position: relative;
    height: 43px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: #00A8FF;
    border-bottom: 3px solid #1B98E7;
    padding-top: 8px;
    text-shadow: 0 0 0.5px #1B98E7,
    0 0 0.5px #1B98E7,
    0 0 0.6px #1B98E7,
    0.2px 0 0.5px #1B98E7,
    0.2px 0 0.6px #1B98E7,
    0.4px 0 0.5px #1B98E7,
    -0.2px 0 0.5px #1B98E7,
    -0.4px 0 0.5px #1B98E7,
    0 0.2px 0.5px #1B98E7,
    0 0.4px 0.5px #1B98E7,
    0 -0.2px 0.5px #1B98E7,
    0 -0.4px 0.5px #1B98E7,
    0 0.2px 0.5px #1B98E7,
    0 0.4px 0.5px #1B98E7,
    0 0.6px 0.5px #1B98E7,
    0 1.2px 0.5px #1B98E7,
    0 1.6px 0.5px #1B98E7,
    0 2.0px 0.5px #1B98E7,
    0 2.2px 0.5px #1B98E7;
}


.btn-riu-modal-success {
    width: 126px;
    position: relative;
    height: 43px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: #00c81d;
    border-bottom: 3px solid #0caf23;
    padding-top: 8px;
    text-shadow: 0 0 0.5px #0caf23,
    0 0 0.5px #0caf23,
    0 0 0.6px #0caf23,
    0.2px 0 0.5px #0caf23,
    0.2px 0 0.6px #0caf23,
    0.4px 0 0.5px #0caf23,
    -0.2px 0 0.5px #0caf23,
    -0.4px 0 0.5px #0caf23,
    0 0.2px 0.5px #0caf23,
    0 0.4px 0.5px #0caf23,
    0 -0.2px 0.5px #0caf23,
    0 -0.4px 0.5px #0caf23,
    0 0.2px 0.5px #0caf23,
    0 0.4px 0.5px #0caf23,
    0 0.6px 0.5px #0caf23,
    0 1.2px 0.5px #0caf23,
    0 1.6px 0.5px #0caf23,
    0 2.0px 0.5px #0caf23,
    0 2.2px 0.5px #0caf23;
}

.btn-riu-modal-success:focus {
    width: 126px;
    position: relative;
    height: 43px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: #00c81d;
    padding-top: 8px;
    color: #fff;
    text-shadow: 0 0 0.5px #0caf23,
    0 0 0.5px #0caf23,
    0 0 0.6px #0caf23,
    0.2px 0 0.5px #0caf23,
    0.2px 0 0.6px #0caf23,
    0.4px 0 0.5px #0caf23,
    -0.2px 0 0.5px #0caf23,
    -0.4px 0 0.5px #0caf23,
    0 0.2px 0.5px #0caf23,
    0 0.4px 0.5px #0caf23,
    0 -0.2px 0.5px #0caf23,
    0 -0.4px 0.5px #0caf23,
    0 0.2px 0.5px #0caf23,
    0 0.4px 0.5px #0caf23,
    0 0.6px 0.5px #0caf23,
    0 1.2px 0.5px #0caf23,
    0 1.6px 0.5px #0caf23,
    0 2.0px 0.5px #0caf23,
    0 2.2px 0.5px #0caf23;
}



.btn-riu-modal-primary:focus {
    width: 126px;
    position: relative;
    height: 43px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    color: #fff;
    border-radius: 8px;
    background-color: #00A8FF;
    padding-top: 8px;
    text-shadow: 0 0 0.5px #1B98E7,
    0 0 0.5px #1B98E7,
    0 0 0.6px #1B98E7,
    0.2px 0 0.5px #1B98E7,
    0.2px 0 0.6px #1B98E7,
    0.4px 0 0.5px #1B98E7,
    -0.2px 0 0.5px #1B98E7,
    -0.4px 0 0.5px #1B98E7,
    0 0.2px 0.5px #1B98E7,
    0 0.4px 0.5px #1B98E7,
    0 -0.2px 0.5px #1B98E7,
    0 -0.4px 0.5px #1B98E7,
    0 0.2px 0.5px #1B98E7,
    0 0.4px 0.5px #1B98E7,
    0 0.6px 0.5px #1B98E7,
    0 1.2px 0.5px #1B98E7,
    0 1.6px 0.5px #1B98E7,
    0 2.0px 0.5px #1B98E7,
    0 2.2px 0.5px #1B98E7;
}

.btn-riu-modal-primary, .btn-riu-modal-success, .btn-riu-modal-primary:hover, .btn-riu-modal-success:hover  {
    color: #fff;
    text-transform: capitalize;
    font-size: 17px;
    text-align: center;
    font-weight: 800;
}

.top-level-wrapper {
    width: 64px;
    height: 64px;
    background: #ebf0f3;
    background: -moz-linear-gradient(top, #ebf0f3 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebf0f3), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(top, #ebf0f3 0%, #ffffff 100%);
    background: -o-linear-gradient(top, #ebf0f3 0%, #ffffff 100%);
    background: -ms-linear-gradient(top, #ebf0f3 0%, #ffffff 100%);
    background: linear-gradient(to bottom, #ebf0f3 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebf0f3', endColorstr='#ffffff', GradientType=0);
    float: left;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    position: relative;
    top: -71px;
    left: 134px;
}

.top-level-bg {
    position: relative;
    background-color: #ABB8C0;
    width: 58px;
    height: 56px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    top: 5px;
    left: 3px;
    -webkit-box-shadow: 0 -2px 0 #95A2A7;
    -moz-box-shadow: 0 -2px 0 #95A2A7;
    box-shadow: 0 -2px 0 #95A2A7;
}

#modal_level_place_7,
#modal_level_place_1,
#modal_level_place_2,
#modal_level_place_3,
#modal_level_place_4,
#modal_level_place_5,
#modal_level_place_6,
#modal_level_place_8,
#modal_level_place_9{
    position: relative;
    margin: 0 auto;
    left: 9px;
    top: 6px;
}

#modal_level_place_10{
    position: relative;
    margin: 0 auto;
    left: 8px;
    top: 6px;
}

.available-new-instr {
    display: block;
    width: 283px;
    height: 66px;
    background-image: url('../images/text_available_instruments@2x.png');
    background-size: 283px 66px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    position: relative;
    top: 3px;
}

.new-instrument-left {
    width: 129px;
    height: 129px;
    position: relative;
    float: left;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    top: 20px;
    left: 16px;
    background: #e0e8eb; /* Old browsers */
    background: -moz-linear-gradient(top,  #e0e8eb 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e8eb), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e0e8eb 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e0e8eb 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e0e8eb 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e0e8eb 0%,#ffffff 100%); /* W3C */
}

.new-instrument-right {
    width: 129px;
    height: 129px;
    position: relative;
    float: right;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    top: 20px;
    right: 16px;
    background: #e0e8eb; /* Old browsers */
    background: -moz-linear-gradient(top,  #e0e8eb 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e8eb), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e0e8eb 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e0e8eb 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e0e8eb 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e0e8eb 0%,#ffffff 100%); /* W3C */
}


.new-instrument-bg {
    position: relative;
    background-color: #CAD8DB;
    width: 122px;
    height: 122px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 18px;
    left: 3.5px;
    top: 3.5px;
}

.new-instrument-image {
    position: relative;
    background-color: #E8EDF0;
    width: 120px;
    height: 119px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    left: 1px;
    top: 3px;
}

.new-image {
    margin: 0 auto;
    position: relative;
    top: 12px;
    left: 7px;
}

.level-bottom {
    position: relative;
    margin: 0 auto;
    width: 282px;
    height: 38px;
    top: 68px;
    left: 16px;
    display: block;
    float: left;

}

.btn-level-modal {
    background-color: #5EC502;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-bottom: 3px solid #4DAD02;
    text-shadow: 0 0 0.5px #4DAD02,
    0 0 0.5px #4DAD02,
    0 0 0.6px #4DAD02,
    0.2px 0 0.5px #4DAD02,
    0.2px 0 0.6px #4DAD02,
    0.4px 0 0.5px #4DAD02,
    -0.2px 0 0.5px #4DAD02,
    -0.4px 0 0.5px #4DAD02,
    0 0.2px 0.5px #4DAD02,
    0 0.4px 0.5px #4DAD02,
    0 -0.2px 0.5px #4DAD02,
    0 -0.4px 0.5px #4DAD02,
    0 0.2px 0.5px #4DAD02,
    0 0.4px 0.5px #4DAD02,
    0 0.6px 0.5px #4DAD02,
    0 1.2px 0.5px #4DAD02,
    0 1.6px 0.5px #4DAD02,
    0 2.0px 0.5px #4DAD02,
    0 2.2px 0.5px #4DAD02;
}

.level-btn-bg {
    background-color: #E6EBEE;
    width: 279px;
    height: 46px;
    position: relative;
    bottom: 23px;
    border-radius: 6px;
}

.btn-level-modal:focus {
    width: 126px;
    position: relative;
    height: 43px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: #5EC502;
    padding-top: 8px;
    color: #fff;
    text-shadow: 0 0 0.5px #4DAD02,
    0 0 0.5px #4DAD02,
    0 0 0.6px #4DAD02,
    0.2px 0 0.5px #4DAD02,
    0.2px 0 0.6px #4DAD02,
    0.4px 0 0.5px #4DAD02,
    -0.2px 0 0.5px #4DAD02,
    -0.4px 0 0.5px #4DAD02,
    0 0.2px 0.5px #4DAD02,
    0 0.4px 0.5px #4DAD02,
    0 -0.2px 0.5px #4DAD02,
    0 -0.4px 0.5px #4DAD02,
    0 0.2px 0.5px #4DAD02,
    0 0.4px 0.5px #4DAD02,
    0 0.6px 0.5px #4DAD02,
    0 1.2px 0.5px #4DAD02,
    0 1.6px 0.5px #4DAD02,
    0 2.0px 0.5px #4DAD02,
    0 2.2px 0.5px #4DAD02;
}

.new-level {
    background-image: url('../images/text_new_level.png');
    background-repeat: no-repeat;
    background-size: 137px 22px;
    background-position: center;
    display: block;
    position: relative;
    width: 137px;
    height: 22px;
    margin: 0 auto;
    left: 10px;
}

#modal_profile_place_1{
    position: relative;
    margin: 0 auto;
    left: -4px;
    top: -3px;
}

#modal_profile_place_4{
    position: relative;
    margin: 0 auto;
    left: -4px;
    top: -4px;
}

#modal_profile_place_2,
#modal_profile_place_3,
#modal_profile_place_5,
#modal_profile_place_6,
#modal_profile_place_7,
#modal_profile_place_8,
#modal_profile_place_9,
#modal_profile_place_10{
    position: relative;
    margin: 0 auto;
    left: -3px;
    top: -4px;
}

#modal_profile_place_7 {
    position: relative;
    margin: 0 auto;
    left: -3px;
    top: -3px;
}

.profile-title {
    display: block;
    position: relative;
    float: left;
    top: -28px;
    left: -11px;
    font-weight: 800;
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    text-shadow: 1px 1px 1px #1268B5,
    -0.5px -0.5px 0.5px #1268B5,
    -0.5px 0.5px 0.5px #1268B5,
    0.5px -0.5px 0.5px #1268B5,
    -0.5px 0 0.5px #1268B5,
    0.5px 0 0.5px #1268B5,
    0 0.5px 0.5px #1268B5,
    0 -0.5px 0.5px #1268B5,

    1.5px 1.5px 1px #609DD5,
    -1.5px 1.5px 1px #609DD5,
    1.5px 1.5px 1px #609DD5,
    1.5px 0 1px #609DD5,
    2px 0 1px #609DD5,
    0 2px 1px #609DD5,
    2px 2px 1px #609DD5,
    -2px 2px 1px #609DD5,
    -2px 2px 1px #609DD5,
    2px 0 1px #609DD5,
    -2px 0 1px #609DD5,
    2px 0 1px #609DD5,
    0 2px 1px #609DD5;

}

.left-col {
    position: relative;
    float: left;
    width: 168px;
    height: 319px;
}

.right-col {
    position: relative;
    float: left;
    width: 239px;
    height: 319px
}

.photo-big-profile  {
    background-color: #D7DFE2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    width: 169px;
    height: 255px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 0 3px #D7DFE2;
    -moz-box-shadow: 0 0 0 3px #D7DFE2;
    box-shadow: 0 0 0 3px #D7DFE2;
}




