.left-corner-bg {
    width: 61px;
    height: 76px;
    background-color: rgb(196, 205, 211);
    position: fixed;
    top: 516px;
    border-bottom-left-radius: 23px;
    -moz-border-bottom-left-radius: 23px;
    -moz-border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    -webkit-border-bottom-right-radius: 23px;
    -moz-border-bottom-right-radius: 23px;
}

.left-corner {
    width: 61px;
    height: 69.5px;
    background-color: #F2F6F7;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    position: relative;
    box-shadow: 0 4px 0 #E8EDED;
}

.activation-tab .btn, .activation-tab .btn:hover{
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0;
}

#switcher-2 {
    position: relative;
    float: left;
    left: -5px;
}

#switcher-1.activation-tab.active {
    width: 61px;
    height: 77px;
    background-color: #F2F6F7;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    position: absolute;
    -webkit-box-shadow: 0px 3px 0 0 rgb(196, 205, 211);
    -moz-box-shadow: 0px 3px 0 0 rgb(196, 205, 211);
    box-shadow: 0px 3px 0 0 rgb(196, 205, 211);
    left: -19px;
    float: left;
    top: -33px;
    border-bottom:2px solid #E8EDED;
}

#switcher-1.activation-tab {
    width: 46px;
    height: 77px;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    position: relative;
    left: -19px;
    float: left;
    top: -33px;
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#switcher-2.activation-tab.active {
    width: 61px;
    height: 61px;
    background-color: #F2F6F7;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    position: absolute;
    -webkit-box-shadow: 0px 3px 0 0 rgb(196, 205, 211);
    -moz-box-shadow: 0px 3px 0 0 rgb(196, 205, 211);
    box-shadow: 0px 3px 0 0 rgb(196, 205, 211);
    left: 43px;
    float: left;
    top: -14px;
    border-bottom: 2px solid #E8EDED;
}

#switcher-2.activation-tab {
    width: 61px;
    height: 61px;
    position: absolute;
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border:none;
    left: 43px;
    float: left;
    top: -14px;
}



#switcher-3.activation-tab.active {
    width: 61px;
    height: 61px;
    background-color: #F2F6F7;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    position: absolute;
    -webkit-box-shadow: 0px 3px 0 0 rgb(196, 205, 211);
    -moz-box-shadow: 0px 3px 0 0 rgb(196, 205, 211);
    box-shadow: 0px 3px 0 0 rgb(196, 205, 211);
    left: 110px;
    float: left;
    top: -14px;
    border-bottom: 2px solid #E8EDED;
}

#switcher-3.activation-tab {
    width: 61px;
    height: 61px;
    position: absolute;
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border:none;
    left: 110px;
    float: left;
    top: -14px;
}

#switcher-4.activation-tab {
    width: 61px;
    height: 61px;
    position: absolute;
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border:none;
    left: 184px;
    float: left;
    top: -14px;
}

#switcher-4.activation-tab.active {
    width: 61px;
    height: 61px;
    background-color: #F2F6F7;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    position: absolute;
    -webkit-box-shadow: 0px 3px 0 0 rgb(196, 205, 211);
    -moz-box-shadow: 0px 3px 0 0 rgb(196, 205, 211);
    box-shadow: 0px 3px 0 0 rgb(196, 205, 211);
    left: 184px;
    float: left;
    top: -14px;
    border-bottom: 2px solid #E8EDED;
}

#switcher-5.activation-tab {
    width: 61px;
    height: 61px;
    position: absolute;
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border:none;
    left: 250px;
    float: left;
    top: -14px;
}

#switcher-5.activation-tab.active {
    width: 61px;
    height: 61px;
    background-color: #F2F6F7;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    position: absolute;
    -webkit-box-shadow: 0px 3px 0 0 rgb(196, 205, 211);
    -moz-box-shadow: 0px 3px 0 0 rgb(196, 205, 211);
    box-shadow: 0px 3px 0 0 rgb(196, 205, 211);
    left: 250px;
    float: left;
    top: -14px;
    border-bottom: 2px solid #E8EDED;
}

#switcher-6.activation-tab {
    width: 61px;
    height: 61px;
    position: absolute;
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border:none;
    left: 320px;
    float: left;
    top: -14px;
}

#switcher-6.activation-tab.active {
    width: 61px;
    height: 61px;
    background-color: #F2F6F7;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    position: absolute;
    -webkit-box-shadow: 0px 3px 0 0 rgb(196, 205, 211);
    -moz-box-shadow: 0px 3px 0 0 rgb(196, 205, 211);
    box-shadow: 0px 3px 0 0 rgb(196, 205, 211);
    left: 320px;
    float: left;
    top: -14px;
    border-bottom: 2px solid #E8EDED;
}

#switcher-7.activation-tab {
    width: 61px;
    height: 61px;
    position: absolute;
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border:none;
    left: 388px;
    float: left;
    top: -14px;
}

#switcher-7.activation-tab.active {
    width: 61px;
    height: 61px;
    background-color: #F2F6F7;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    position: absolute;
    -webkit-box-shadow: 0px 3px 0 0 rgb(196, 205, 211);
    -moz-box-shadow: 0px 3px 0 0 rgb(196, 205, 211);
    box-shadow: 0px 3px 0 0 rgb(196, 205, 211);
    left: 388px;
    float: left;
    top: -14px;
    border-bottom: 2px solid #E8EDED;
}

#switcher-8.activation-tab {
    width: 61px;
    height: 61px;
    position: absolute;
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border:none;
    left: 458px;
    float: left;
    top: -14px;
}

#switcher-8.activation-tab.active {
    width: 61px;
    height: 61px;
    background-color: #F2F6F7;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    position: absolute;
    -webkit-box-shadow: 0px 3px 0 0 rgb(196, 205, 211);
    -moz-box-shadow: 0px 3px 0 0 rgb(196, 205, 211);
    box-shadow: 0px 3px 0 0 rgb(196, 205, 211);
    left: 458px;
    float: left;
    top: -14px;
    border-bottom: 2px solid #E8EDED;
}

#switcher-9.activation-tab {
    width: 61px;
    height: 61px;
    position: absolute;
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border:none;
    left: 533px;
    float: left;
    top: -14px;
}

#switcher-9.activation-tab.active {
    width: 61px;
    height: 61px;
    background-color: #F2F6F7;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    position: absolute;
    -webkit-box-shadow: 0px 3px 0 0 rgb(196, 205, 211);
    -moz-box-shadow: 0px 3px 0 0 rgb(196, 205, 211);
    box-shadow: 0px 3px 0 0 rgb(196, 205, 211);
    left: 533px;
    float: left;
    top: -14px;
    border-bottom: 2px solid #E8EDED;
}

.activation-tab.lock:before {
    content: "";
    width: 41px;
    height: 52px;
    background: url("../images/lock@2x.png") no-repeat;
    background-size: 21px 26px;
    position: absolute;
    top: 16px;
    right:-18px;
    z-index: 9999;
}
.activation-tab.lock .btn {
    cursor: default !important;
}

.activation-panel {
    width: 100%;
    height: 49px;
    position: fixed;
    top: 547px;
    left: 117PX;
    z-index: 10;
}

.btn-pencil, .btn-pencil:active  {
    width: 34px;
    height: 38px;
    background-image: url('../images/activation_panel@2x.png');
    background-size: 75px 430px;
    background-position: -3px -433px;
    position: relative;
    top: 35px;
    left: 14px;
    cursor: pointer;
    float: left;
}

.btn-pencil.active-button {
    width: 34px;
    height: 38px;
    background-image: url('../images/activation_panel@2x.png');
    background-size: 75px 430px;
    background-position: -41px -433px;
    position: relative;
    top: 35px;
    left: 13px;
    cursor: pointer;
    float: left;
}

.btn-painter, .btn-painter:active {
    width: 34px;
    height: 38px;
    background-image: url('../images/activation_panel@2x.png');
    background-size: 75px 430px;
    background-position: -2px -480px;
    position: relative;
    top: 21px;
    left: 13px;
    cursor: pointer;
    float: left;
}

.btn-painter.active-button  {
    width: 34px;
    height: 38px;
    background-image: url('../images/activation_panel@2x.png');
    background-size: 75px 430px;
    background-position: -40px -480px;
    position: relative;
    top: 21px;
    left: 13px;
    cursor: pointer;
    float: left;
}

.btn-eraser, .btn-eraser:active  {
    width: 34px;
    height: 38px;
    background-image: url('../images/activation_panel@2x.png');
    background-size: 75px 430px;
    background-position: -1px -522px;
    position: relative;
    top: 21px;
    left: 13px;
    cursor: pointer;
    float: left;
}

.btn-eraser.active-button  {
    width: 34px;
    height: 38px;
    background-image: url('../images/activation_panel@2x.png');
    background-size: 75px 430px;
    background-position: -39px -522px;
    position: relative;
    top: 21px;
    left: 13px;
    cursor: pointer;
    float: left;
}


.btn-strip, .btn-strip:active  {
    width: 34px;
    height: 38px;
    background-image: url('../images/activation_panel@2x.png');
    background-size: 75px 430px;
    background-position: -3px -568px;
    position: relative;
    top: 19px;
    left: 13px;
    cursor: pointer;
    float: left;
}

.btn-strip.active-button  {
    width: 34px;
    height: 38px;
    background-image: url('../images/activation_panel@2x.png');
    background-size: 75px 430px;
    background-position: -41px -568px;
    position: relative;
    top: 19px;
    left: 13px;
    cursor: pointer;
    float: left;
}

.btn-spray, .btn-spray:active {
    width: 34px;
    height: 38px;
    background-image: url('../images/activation_panel@2x.png');
    background-size: 75px 430px;
    background-position: -2px -616px;
    position: relative;
    top: 19px;
    left: 13px;
    cursor: pointer;
    float: left;
}

.btn-spray.active-button  {
    width: 34px;
    height: 38px;
    background-image: url('../images/activation_panel@2x.png');
    background-size: 75px 430px;
    background-position: -40px -616px;
    position: relative;
    top: 19px;
    left: 13px;
    cursor: pointer;
    float: left;
}

.btn-stamp, .btn-stamp:active {
    width: 34px;
    height: 38px;
    background-image: url('../images/activation_panel@2x.png');
    background-size: 75px 430px;
    background-position: -5px -670px;
    position: relative;
    top: 19px;
    left: 13px;
    cursor: pointer;
    float: left;
}

.btn-stamp.active-button  {
    width: 34px;
    height: 38px;
    background-image: url('../images/activation_panel@2x.png');
    background-size: 75px 430px;
    background-position: -43px -670px;
    position: relative;
    top: 19px;
    left: 13px;
    cursor: pointer;
    float: left;
}

.btn-diff-pencil, .btn-diff-pencil:active {
    width: 34px;
    height: 38px;
    background-image: url('../images/activation_panel@2x.png');
    background-size: 75px 430px;
    background-position: 0 -723px;
    position: relative;
    top: 19px;
    left: 13px;
    cursor: pointer;
    float: left;
}

.btn-diff-pencil.active-button  {
    width: 34px;
    height: 38px;
    background-image: url('../images/activation_panel@2x.png');
    background-size: 75px 430px;
    background-position: -39px -723px;
    position: relative;
    top: 19px;
    left: 13px;
    cursor: pointer;
    float: left;
}

.btn-brush-spray, .btn-brush-spray:active {
    width: 34px;
    height: 38px;
    background-image: url('../images/activation_panel@2x.png');
    background-size: 75px 430px;
    background-position: 0 -769px;
    position: relative;
    top: 19px;
    left: 13px;
    cursor: pointer;
    float: left;
}

.btn-brush-spray.active-button {
    width: 34px;
    height: 38px;
    background-image: url('../images/activation_panel@2x.png');
    background-size: 75px 430px;
    background-position: -39px -769px;
    position: relative;
    top: 19px;
    left: 13px;
    cursor: pointer;
    float: left;
}

.btn-spider, .btn-spider:active {
    width: 34px;
    height: 38px;
    background-image: url('../images/activation_panel@2x.png');
    background-size: 75px 430px;
    background-position: -2px -819px;
    position: relative;
    top: 19px;
    left: 13px;
    cursor: pointer;
    float: left;
}

.btn-spider.active-button {
    width: 34px;
    height: 38px;
    background-image: url('../images/activation_panel@2x.png');
    background-size: 75px 430px;
    background-position: -41px -819px;
    position: relative;
    top: 19px;
    left: 13px;
    cursor: pointer;
    float: left;
}
