@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .wrapper {
        background-image: url('../images/clouds@2x.png');
        background-size: 827px 143px;
    }

    .cog-icon{
        background-position: 7.5px 6.489586px;
        background-image: url('../images/sprites@2x.png');
        background-size: 277px 135px;
        background-repeat: no-repeat;
        width: 46px;
        height: 46px;
        cursor: pointer;
        border-radius: 46px;
        position: relative;
        background-color: #D7E0E3;
        top: 0;
        left: 0;
    }

    .cup-icon{
        background-position: -142.5px 6.489586px;
        background-image: url('../images/sprites@2x.png');
        background-size: 277px 135px;
        background-repeat: no-repeat;

    }

    .coin-gold-icon {
        background-position: -46.000008px -49px;
        background-image: url('../images/sprites@2x.png');
        background-repeat: no-repeat;
        background-size: 277px 135px;
    }

    .vk-plus {
        background-image: url('../images/sprites@2x.png');
        background-position: -6.100008px -105.9px;
        background-size: 277px 135px;
    }

    .note-lg-icon{
        background-position: -91.000008px 6px;
        background-image: url('../images/sprites@2x.png');
        background-size: 277px 135px;
    }

    .place-icon{
        background-position: -45.000008px 4px;
        background-image: url('../images/sprites@2x.png');
        background-size: 277px 135px;
    }

    /*#gift-img-tiger {*/
        /*background-position: -373px -182px;*/
        /*background-image: url('../images/sprites@2x.png');*/
        /*background-size: 277px 135px;*/
    /*}*/

    /*#gift-img-puma {*/
        /*background-position: -424px -182px;*/
        /*background-image: url('../images/sprites@2x.png');*/
        /*background-size: 277px 135px;*/

    /*}*/

    /*#gift-roze {*/
        /*background-position: -476px -182px;*/
        /*background-image: url('../images/sprites@2x.png');*/
        /*background-size: 277px 135px;*/

    /*}*/


    #modal-buy .modal-content{
        height: 533px;
        top: 39px;
        -webkit-border-radius: 18px;
        -moz-border-radius: 18px;
        border-radius: 18px;
        background-image: url('../images/modal_buy_bg@2x.jpg');
        background-size: 522px 670px;
        background-repeat: no-repeat;
        background-position: -11px -44px;
        box-shadow: inset 0px 3px 3px -1px white;

    }

}