@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300);
/* Reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}


h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #000;
}

.wrapper {
    width: 827px;
    height: 700px;
    background-repeat: no-repeat;
    background: #e7ecef; /* Old browsers */
    background: -moz-linear-gradient(top,  #e7ecef 0%, #ebf0f3 7%, #ecf1f4 14%, #ecf1f4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7ecef), color-stop(7%,#ebf0f3), color-stop(14%,#ecf1f4), color-stop(100%,#ecf1f4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e7ecef 0%,#ebf0f3 7%,#ecf1f4 14%,#ecf1f4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e7ecef 0%,#ebf0f3 7%,#ecf1f4 14%,#ecf1f4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e7ecef 0%,#ebf0f3 7%,#ecf1f4 14%,#ecf1f4 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e7ecef 0%,#ebf0f3 7%,#ecf1f4 14%,#ecf1f4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7ecef', endColorstr='#ecf1f4',GradientType=0 ); /* IE6-9 */


}

.container {
    width: 827px;
    padding-top: 100px;
}

.preview {
    background: url('../images/preview_100.jpg') center no-repeat;
}

.content-frame-outside {
    width: 644px;
    height: 420px;
    margin: 0 auto;
    background-color: #D9E0E5;
    position: relative;
    border: 1px solid #CDD8DC;
    border-radius: 33px;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    -webkit-box-shadow: 0 -2.5px 0 0 rgba(196, 208, 209, 0.8);
    -moz-box-shadow: 0 -2.5px 0 0 rgba(196, 208, 209, 0.8);
    box-shadow: 0 -2.5px 0 0 rgba(196, 208, 209, 0.8);
    border-bottom: 0;
}


.content-frame-inside {
    background-color: #F2F3F5;
    width: 630px;
    height: 407px;
    position: relative;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    border-radius: 28px;
    top: 4px;
    margin: 0 auto;
    border: 0.4px solid #DFDFDF;
    box-shadow: 0px 3px 0 0 rgb(210, 218, 223);
    -moz-box-shadow: 0px 3px 0 0 rgb(210, 218, 223);
    -webkit-box-shadow: 0px 3px 0 0 rgb(210, 218, 223);
}

.content-frame-inside-blur {
    background-color: #FFFFFF;
    width: 630px;
    height: 403px;
    border-radius: 28px;
}
.box-content-blur {
    width: 644px;
    height: 424px;
    margin: 0 auto;
    background-color: #F6F8FA;
    top: 150.5px;
    position: relative;
    border: 1px solid #F3F3F3;
    border-radius: 33px;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    -webkit-box-shadow: 0px 0.5px 0px 0px rgba(240, 244, 245, 0.8);
    -moz-box-shadow: 0px 0.5px 0px 0px rgba(240, 244, 245, 0.8);
    box-shadow: 0px 0.5px 2px 0px rgba(243, 240, 240, 0.8);
}

.background {
    width: 827px;
    background-image: url('../images/clouds.png');
    background-size: 827px 143px;
    height: 143px;
    position: fixed;

}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .background {
        background-image: url('../images/clouds@2x.png');
        background-size: 827px 143px;
    }

}