@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300&subset=latin,cyrillic-ext,cyrillic);
/* Reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

#ok {
    font-family: FontAwesome;
}
/*Restrict select body*/

body, p, div, span, img, button {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
}


h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

a, a:hover, a:active, a:focus {
    outline: 0;
    -webkit-outline-style: none;
    outline-style: none;
}

td {
    text-align: center;
    vertical-align: middle;
}

table {
    width: 97% !important;
    margin-bottom: 0 !important;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-top: 0 !important;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 0 !important;
    line-height: 1.42857143;
     vertical-align: middle;
    border-top: 1px solid #ddd;
}

.tooltip {
    z-index: 9999;
}

a:active { outline: none; }
a:focus{ -moz-outline-style: none; }

.btn:focus {outline:0 !important;}
.btn:active {outline:0 !important;}
.btn:hover {outline:0 !important;}

.btn {
    outline: 0 !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

button::-moz-focus-inner {border:0;}
html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background:#ecf1f3;
}

a:hover {
    text-decoration: none;
}

*:focus {
    outline: none;
}


.wrapper {
    width: 827px;
    height: 700px;
    background-image: url('../images/clouds.png');
    background-repeat: no-repeat;
    background-attachment: fixed;

}


.content-frame-empty-outside {
    width: 644px;
    height: 420px;
    margin: 0 auto;
    background-color: #D9E0E5;
    position: relative;
    border: 1px solid #CDD8DC;
    border-radius: 33px;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    -webkit-box-shadow: 0 -2.5px 0 0 rgba(196, 208, 209, 0.8);
    -moz-box-shadow: 0 -2.5px 0 0 rgba(196, 208, 209, 0.8);
    box-shadow: 0 -2.5px 0 0 rgba(196, 208, 209, 0.8);
    border-bottom: 0;
}

.content-frame-paint-outside {
    width: 644px;
    height: 461px;
    margin: 0 auto;
    background-color: #D9E0E5;
    position: relative;
    border: 1px solid #CDD8DC;
    border-radius: 33px;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    -webkit-box-shadow: 0 -2.5px 0 0 rgba(196, 208, 209, 0.8);
    -moz-box-shadow: 0 -2.5px 0 0 rgba(196, 208, 209, 0.8);
    box-shadow: 0 -2.5px 0 0 rgba(196, 208, 209, 0.8);
    border-bottom: 0;
}

.content-frame-white {
    background-color: #F2F3F5;
    width: 630px;
    height: 407px;
    position: relative;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    top: 4px;
    margin: 0 auto;
    border: 0.4px solid #DFDFDF;
    box-shadow: 0px 3px 0 0 rgb(210, 218, 223);
    -moz-box-shadow: 0px 3px 0 0 rgb(210, 218, 223);
    -webkit-box-shadow: 0px 3px 0 0 rgb(210, 218, 223);
}

.content-frame-paint {
    background-color: rgb(210, 218, 223);
    width: 628px;
    height: 397px;
    position: relative;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    top: 4px;
    margin: 0 auto;
    /* border: 1.7px solid rgb(210, 218, 223); */
    box-shadow: 0px 3px 0 0 rgb(196, 205, 211);
    -moz-box-shadow: 0px 3px 0 0 rgb(196, 205, 211);
    -webkit-box-shadow: 0px 3px 0 0 rgb(196, 205, 211);
    border-bottom: 0;
}

.content-frame-white-blur {
    background-color: #FFFFFF;
    width: 630px;
    height: 403px;
    border-radius: 28px;
}

.paint-frame {
    width: 627.6px;
    height: 390px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    background-color: #F2F6F7;
    position: relative;
    top: 3px;
    left: -1.4PX;
}


.content-frame-paint-blur {
    background-color: #E6EBEB;
    width: 626px;
    height: 397px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    box-shadow: inset 0 3px 0 #fff;
    position: relative;
    left: 1.5px;
}

.box-content-empty-blur {
    width: 644px;
    height: 424px;
    margin: 0 auto;
    background-color: #F6F8FA;
    top: 148.5px;
    position: fixed;
    border: 1px solid #F3F3F3;
    border-radius: 33px;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    -webkit-box-shadow: 0 0.5px 0 0 rgba(240, 244, 245, 0.8);
    -moz-box-shadow: 0 0.5px 0 0 rgba(240, 244, 245, 0.8);
    box-shadow: 0 0.5px 2px 0 rgba(243, 240, 240, 0.8);
    left: 89px;
}

.box-content-paint-blur {
    width: 644px;
    height: 465px;
    margin: 0 auto;
    background-color: #F6F8FA;
    top: 139.5px;
    position: fixed;
    border-radius: 33px;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    -webkit-box-shadow: 0 0.5px 0 0 rgba(240, 244, 245, 0.8);
    -moz-box-shadow: 0 0.5px 0px 0 rgba(240, 244, 245, 0.8);
    box-shadow: 0 0.5px 2px 0 rgba(243, 240, 240, 0.8);
    left: 90px;
}

.canvas-wrapper-bg {
    width: 562px;
    height: 340.5px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    background-color: #D7DEE4;
    box-shadow: 0 2px 0 #E8ECEC;
    position: relative;
    right: -56px;
    top: 5px;
}

.canvas {
    width: 562px;
    height: 336px;
    background-color: #fff;
    box-shadow: 0 3px 0 #F2F3F4;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    position: relative;
    top: 0;
    left: 0;
    border: 1px solid #ddd;
    border-bottom: 0;
}

canvas {
    position: fixed;
    left: 155px;
    top: 154px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    background: transparent !important;
}

.left-corner-bg {
    width: 61px;
    height: 76px;
    background-color: rgb(196, 205, 211);
    position: fixed;
    top: 516px;
    border-bottom-left-radius: 23px;
    -moz-border-bottom-left-radius: 23px;
    -moz-border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    -webkit-border-bottom-right-radius: 23px;
    -moz-border-bottom-right-radius: 23px;
}

.left-corner {
    width: 61px;
    height: 69.5px;
    background-color: #F2F6F7;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    position: relative;
    box-shadow: 0 4px 0 #E8EDED;
}

.activation-panel {
    width: 100%;
    height: 49px;
    position: fixed;
    top: 547px;
    left: 161PX;
    z-index: 10;
}

.top-users-block {
    height: 100px;
    position: fixed;
    top: 39px;
    left: 155px;
}

.left-users-block {
    position: fixed;
    top: 214px;
    left: 10px;
    width: 10px;
    height: 279px;
    z-index: 999;
}

.right-users-block {
    position: fixed;
    top: 214px;
    left: 745px;
    width: 102px;
    height: 279px;
    z-index: 1020;
}

.user-block {
    width: 131px;
    height: 100px;
}

.user-block-side {
    width: 71px;
    height: 130px;
}

.block-left {
    float: left;
}

.block-right {
    float: right;
}

.favourite {
    background-image: url('../images/sprites@2x.png');
    background-size: 277px 135px;
    background-position: -106.100008px -104.9px;
    width: 30px;
    height: 20px;
    position: fixed;
    left: 39px;
    top: 19px;
}

.score {
    position: relative;
    left: 22px;
    font-size: 8px;
    color: #fff;
    padding-top: 3px;
    font-weight: 800;
    text-shadow:
        0 0 1px #89989d,
        0 0 1px #89989d,
        0 0 1px #89989d,
        0 0 1px #89989d,
        0 0 1px #89989d,
        0 0 1px #89989d,
        1px 1px 0.2px #DDE4E6,
        0.2px 1.2px 0 #DDE4E6,
        1.4px 0.4px 0 #DDE4E6,
        1.6px 1.6px 0 #DDE4E6,
        1.8px 1.8px 0 #DDE4E6,
        1px 2px 0 #DDE4E6,
        1.2px 0.2px 0 #DDE4E6,
        1.4px 2.4px 0 #DDE4E6,
        1.6px 2.6px 0 #DDE4E6,
        2.4px 1.8px 0 #DDE4E6,
        1px 0 0 #DDE4E6,
        2px 0 0 #DDE4E6,
        -0.2px 0 0 #DDE4E6,
        0.6px 0 0 #DDE4E6,
        0.4px 0 0 #DDE4E6,
        0.2px 0 0 #DDE4E6,
        -0.2px 0 0 #DDE4E6,
        -0.4px 0 0 #DDE4E6,
        -0.6px 0 0 #DDE4E6,
        -1.8px 0 0 #DDE4E6,
        -1px 2px 0 #DDE4E6,
        -0.2px 2px 0 #DDE4E6,
        -0.4px 1px 0 #DDE4E6,
        -0.6px 2px 0 #DDE4E6,
        -0.8px 2px 0 #DDE4E6,
        -1px 2px 0 #DDE4E6,
        -1.2px 2px 0 #DDE4E6,
        -1.4px 2px 0 #DDE4E6,
        -1.6px 2px 0 #DDE4E6,
        -1.8px 2px 0 #DDE4E6,
        -2px 2px 0 #DDE4E6,
        -0.2px 2px 0 #DDE4E6,
        -0.4px 2px 0 #DDE4E6,
        -0.6px 2px 0 #DDE4E6,
        -0.8px 2px 0 #DDE4E6;
}

.white {
    text-align: center;
    font-weight: 800;
    font-size: 15px;
    color: #fff;
    padding: 10px;
    height: 389px;
    text-shadow:
        0 0 0.5px #89989d,
        0 0 0.6px #89989d,
        0.2px 0 0.5px #89989d,
        0.2px 0 0.6px #89989d,
        0.4px 0 0.5px #89989d,
        0.4px 0 0.6px #89989d,
        -0.2px 0 0.5px #89989d,
        -0.2px 0 0.6px #89989d,
        -0.4px 0 0.5px #89989d,
        -0.4px 0 0.6px #89989d,
        0 0.2px 0.5px #89989d,
        0 0.2px 0.6px #89989d,
        0 0.4px 0.5px #89989d,
        0 0.4px 0.6px #89989d,
        0 -0.2px 0.5px #89989d,
        0 -0.2px 0.6px #89989d,
        0 -0.4px 0.5px #89989d,
        0 -0.4px 0.6px #89989d,
        0 1.2px 0.5px #DDE4E6,
        0 1.4px 0.5px #DDE4E6,
        0 1.6px 0.5px #DDE4E6,
        0 1.8px 0.5px #DDE4E6,
        0 2.0px 0.6px #DDE4E6,
        0 2.2px 0.5px #DDE4E6,
        -1.2px 0 0.6px #DDE4E6,
        -1.4px 0 0.5px #DDE4E6,
        -1.6px 0 0.5px #DDE4E6,
        -1.8px 0 0.5px #DDE4E6,
        -2.0px 0 0.5px #DDE4E6,
        -2.2px 0 0.6px #DDE4E6,
        -1.2px 1.2px 0.6px #DDE4E6,
        -1.4px 1.4px 0.5px #DDE4E6,
        -1.6px 1.6px 0.5px #DDE4E6,
        -1.8px 1.8px 0.5px #DDE4E6,
        -2.0px 2.0px 0.5px #DDE4E6,
        -2.2px 2.2px 0.6px #DDE4E6,
        1.2px 0 0.6px #DDE4E6,
        1.4px 0 0.5px #DDE4E6,
        1.6px 0 0.5px #DDE4E6,
        1.8px 0 0.5px #DDE4E6,
        2.0px 0 0.5px #DDE4E6,
        2.2px 0 0.6px #DDE4E6,
        1.2px 1.2px 0.5px #DDE4E6,
        1.4px 1.4px 0.5px #DDE4E6,
        1.6px 1.6px 0.5px #DDE4E6,
        1.8px 1.8px 0.5px #DDE4E6,
        2px 2px 0.5px #DDE4E6;
      letter-spacing: 0.4px;
}

.active-user-wrapper {
    position: fixed;
    width: 224px;
    height: 30px;
    left: 427px;
    top: 4px;
}

.user-frame-active {
    width: 27px;
    height: 27px;
    background-color: #D5DDE0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
}

.tooltip {
    z-index: 99999;
}

.left-panel-paint {
    position: relative;
    float: left;
    width: 56px;
    height: 354px;
    top: 3px;
    left: 2px;
}