@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {


    .row-5 {
        background-position: 184px 109px;
        background-image: url('../img/row_5@2x.png');
        background-size: 233px 92px;
        background-repeat: no-repeat;
    }

    .row-4 {
        background-position: 5px -55px;
        background-image: url('../img/bg_green@2x.png');
        background-size: 256px 196px;
        background-repeat: no-repeat;
    }



    .row-7 {
        background-position: 648px 38px;
        background-image: url('../img/award_new@2x.png');
        background-size: 116px 168px;
        background-repeat: no-repeat;
    }

    .row-7 ul li {
        background-image: url('../img/li_yellow@2x.png');
        background-repeat: no-repeat;
        background-position: 0 22px;
        padding-left: 16px;
        background-size: 9px 11px;
    }

    .row-6>.block ul  li {
        list-style-type:none;
        background-image: url('../img/li_blue@2x.png');
        background-repeat: no-repeat;
        background-position: 0 2px;
        padding-left: 16px;
        background-size: 9px 11px;
    }
}