/*Сброс стилей*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; vertical-align: baseline; background: transparent; } /*Сброс стилей браузеров*/
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner { border: none; } /*Убирает пунктирную линию вокрус кнопок*/
input[type="checkbox"]:focus { -moz-outline-offset: -1px !important; -moz-outline: 1px solid #000 !important; } /*Убирает пунктирную линию вокрус чекбоксов*/
:focus { outline: none; } /*Убирает пунктирную линию вокрус ссылок */


a {
    color: #0068CF;
    font-weight: normal;
    text-decoration: none;
}

.romanStyles1 {
    width: 800px;
    height: auto;
    position: relative;
    margin: 0 auto;
    padding-top: 10px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.romanStyles1 h1 {
    font-weight: bold;
    color: #525963;
}

.romanStyles1 h2 {
    font-weight: 800;
    color: #525963;
    font-size: 1.6em;
}

.romanStyles1 h4 {
    color: #0068cf;
    padding-bottom: 5px;
}

.row-bubble h1, .row-bubble h2, .row-bubble h3 {
    color: #824b12;
}


.row-bubble h2 {
    font-size: 1.4em;
    padding-bottom: 5px;
}

.row-bubble h3 {
    font-size: 1.3em;
    font-weight: 400;
    padding-bottom: 5px;
}

.tab-2, .tab-3, .tab-4 {
    display: none;
}

/*navigation*/

ul.pop-nav {
    width: 800px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    list-style-type: none;
    padding-bottom: 60px;
}

ul.pop-nav li {
    display: inline;
}

ul.pop-nav li a {
    float: left;
    width: auto;
    text-decoration: none;
    color: #6d747e;
    background-color: #fff;
    padding: 0.8em 3.77em;
    text-align: center;
    border: 2px solid #6d747e;
    border-left: 0;
    font-size: 12px;
}

ul.pop-nav li.first a {
    border-left: 2px solid #6d747e;
    border-top-left-radius:2px;
    border-bottom-left-radius:2px;
}
ul.pop-nav li.last a {
    border-top-right-radius:2px;
    border-bottom-right-radius:2px;
}


ul.pop-nav li.active a {
    background-color: #6d747e;
    color: #fff;
}

/*row-1*/

.row-1 {
width: 100%;
    height: 180px;
    position: relative;
}

.row-1-img {
    width: 211px;
    height: 163px;
    float:left;
    padding-left: 25px;
}

.row-1-label {
    width: 519px;
    height: 163px;
    float: right;
    padding-left: 30px;
    margin-right: 15px
}

.row-1-label h1 {
    top: -11px;
    position: relative;
}

.row-bubble {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background-color: #ffc600;
    padding: 20px;
    text-align: center;
    -webkit-box-shadow: inset 1px 0px 10px 0 rgba(233, 147, 12, 0.7);
    -moz-box-shadow: inset 1px 0px 10px 0 rgba(233, 147, 12, 0.7);
    box-shadow: inset 1px 0px 10px 0 rgba(233, 147, 12, 0.7);
}


/*row-2*/
.row-2 h2 {
text-align: center;
}

.tiz {
    width: 198px;
    float: left;
    padding-top: 10px;
}

.tiz p {
    color:#525963;
    text-align: left;
    padding: 10px;
    padding-top: 0;
    word-wrap: break-word;
    padding-left: 15px;
    font-size: 0.8em;
    font-weight: 800;
}

.ok-wr {
    position: absolute;
    z-index: 999;
    margin-left: 1px;
    margin-top: -3px;
}

img.ok {
    position: relative;
    left: 16px;
    top: 16px;
}

.notification {
    background-color: #ffc600;
    width: 100%;
    padding: 20px 0 20px 0;
    text-align: center;
    position: relative;
    float: left;
    margin-top: 20px;
    -webkit-box-shadow: inset 0 12px 11px -8px rgba(233, 147, 12, 0.5),inset 0 -12px 11px -8px rgba(233, 147, 12, 0.5);
    -moz-box-shadow: inset 0 12px 11px -8px rgba(233, 147, 12, 0.5),inset 0 -12px 11px -8px rgba(233, 147, 12, 0.5);
    box-shadow: inset 0 12px 11px -8px rgba(233, 147, 12, 0.5),inset 0 -12px 11px -8px rgba(233, 147, 12, 0.5);
}

.notification p {
    color: #824b12;
}

/*row 3*/

.row-3 {
    display: block;
    position: relative;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.row-3 h2 {
    text-align: center;
}

.block-content {
    width: 380px;
    height: 136px;
    position: relative;
    display: block;
    margin-top: 20px;
    float: left;
    margin-right: 20px;
}

.article-block {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 800px;
    padding-top: 10px;
}

.block-img {
    position: relative;
    width: 117px;
    height: 133px;

    background-image: url('../img/grey_wrapper.jpg');
    background-size: 117px 133px;
    background-repeat: no-repeat;
    float: left;
    clear: both;
    margin-bottom: 36px;
    margin-right: 20px;
}

.block-content h3 {
    padding-top: 10px;
    position: relative;
    font-weight: 800;
    color: #0068cf;
    word-wrap: break-word;
    line-height: 1em;
}

.block-content p {
    font-weight: normal;
    color: #525963;
    font-size: 0.8em;
    padding-top: 6px;
}


.row-4 {
    position: relative;
    background-color: #00a474;
    width: 100%;
    min-height: 290px;
    height: auto;
    float: left;
    margin-bottom: 20px;
    background-position: -29px -55px;
    background-image: url('../img/bg_green.png');
    background-size: 256px 196px;
    background-repeat: no-repeat;
    padding-left: 15px;
}

.row-4 h2 {
    color: #fff;
    font-weight: bold;
    text-align: center;
    position: relative;
    padding-top: 32px;
}

.row-5 {
    position: relative;
    float: left;
    width: 100%;
    min-height: 300px;
    height: auto;
    background-position: 184px 109px;
    background-image: url('../img/row_5.png');
    background-size: 233px 92px;
    background-repeat: no-repeat;
}


.bubble-5 {
    width: 300px;
    float: right;
    position: relative;
    margin-top: 42px;
    margin-right: 38px;
}

.row-5 h3 {
 text-align: center;
    color: #0068cf;
 }

.content {
    position: relative;
    display: block;
    float: right;
    width: 100%;
    padding-top: 37px;
}

.row-5-text {
    text-align: center;
    display: block;
    padding-top: 10px;
    color: #525963;
}

.box {
    position: relative;
    display: block;
    float: left;
    margin-right: 10px;
    width: 186px;
    height: 200px;
    border: 2px solid #d4d4d4;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    padding-top: 20px;
}

.note {
    position: relative;
    display: block;
text-align: center;
    color: #525963;
    padding-bottom: 10px;
    font-weight: normal;
    width: 100%;
    float: left;
}

.notification h3 {
    color: #824b12;
}

.row-6 {
    position: relative;
    float:left;
    padding-top: 20px;
    width: 100%;
}

.row-6 h2 {
   text-align: center;
}

img#thumb1 {
    position: relative;
    margin: 0 auto;
    display: block;
    padding-top: 17px;
}

img#thumb2 {
    position: relative;
    margin: 0 auto;
    display: block;
    padding-top: 17px;
}

img#thumb3 {
    position: relative;
    margin: 0 auto;
    display: block;
    padding-top: 22px;
}

img#thumb4 {
    position: relative;
    margin: 0 auto;
    display: block;
    padding-top: 22px;
}


img#thumb5 {
    position: relative;
    margin: 0 auto;
    display: block;
    padding-top: 22px;
}


img#thumb6 {
    position: relative;
    margin: 0 auto;
    display: block;
    padding-top: 14px;
}

.number-wrapper {
    display: block;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    background-color: #ffb400;
    line-height: 42px;
}

.number {
    position: relative;
    padding-left: 4px;
}

.promotion {
    position: relative;
    float: left;
    width: 252px;
    height: 200px;
    margin-right: 10px;
    top: 24px;
}

.promotion.last {
    left: 20px;
}

.promotion.last:before {
    content: url('../img/small_star.png');
    left: 141px;
    bottom: 147px;
    position: absolute;
    z-index: 9999;
}

.promotion.prom-2 {
  margin-left: 10px;
    width: 245px;
}

.promotion p {
    color: #fff;
    font-size: 0.8em;
    padding-top: 10px;
}

img#arrow1 {
    position: relative;
    margin-left: 17px;
    top: 13px;
}

img#arrow2 {
    left: 23px;
    position: relative;
    top: 16px;
}

img#arrow3 {
    position: relative;
    left: 40px;
}


img#stripe {
    position: relative;
    vertical-align: middle;
    padding-left: 5px;
}

span.info {
    display: block;
    padding-top: 10px;
    color: #525963;
    font-weight: bold;
    padding-bottom: 25px;
}

span.info.nopercent {
    padding-bottom: 48px;
}

.promote-btn {
    cursor: pointer;
    background-color: #0168cf;
    color: #fff;
    font-weight: bold;
    border: none;
    font-size: 0.7em;
    padding: 8px 15px 8px 15px;
    -webkit-box-shadow: 0 3px 0 #0057a7;
    -moz-box-shadow: 0 3px 0 #0057a7;
    box-shadow: 0 3px 0 #0057a7
}

.promote-btn:hover {
    background-color: #218EFA;
    -webkit-box-shadow: #0168cf;
    -moz-box-shadow: #0168cf;
    box-shadow: #0168cf;
}

span.discount {
    position: relative;
    display: block;
    font-weight: normal;
    padding-top: 5px;
}

.row-6 {
padding-left: 10px;
}


.row-6>.block {
    width: 213px;
    min-height: 150px;
    position: relative;
    float: left;
    margin-right: 29px;
    padding-bottom: 40px;
}

.row-6 h3 {
    text-align: left;
    color: #525963;
    padding-bottom: 18px;
    font-size: 1.2em;
}

.row-6 h4 {
    text-align: left;
    color: #0068cf;
    padding-top: 10px;
}

.row-6 p {
    text-align: left;
    color: #525963;
    font-size: 0.8em;
}

.row-6>.block ul {
    padding-top: 10px;
    width: 277px;
}


.row-6>.block ul  li {
    list-style-type:none;
    background-image: url('../img/li_blue.png');
    background-repeat: no-repeat;
    background-position: 0 2px;
    padding-left: 16px;
    background-size: 9px 11px;
    line-height: 1.0em;
    padding-bottom: 15px;
}

.row-7 {
    width: 100%;
    min-height: 200px;
    height: auto;
    background-color: #0068cf;
    position: relative;
    float: left;
    -webkit-box-shadow:  inset 0 12px 11px -8px rgba(102, 102, 102, 0.50),inset 0 -12px 11px -8px rgba(102, 102, 102, 0.50);
    -moz-box-shadow:  inset 0 12px 11px -8px rgba(102, 102, 102, 0.50),inset 0 -12px 11px -8px rgba(102, 102, 102, 0.50);
    box-shadow:  inset 0 12px 11px -8px rgba(102, 102, 102, 0.50),inset 0 -12px 11px -8px rgba(102, 102, 102, 0.50);
    background-position: 648px 38px;
    background-image: url('../img/award_new.png');
    background-size: 116px 168px;
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-left: 30px;
}

.row-7 h2 {
    font-weight: bold;
    color:#fff;
}

.row-7 ul {
    width: 605px;
    padding-left: 2px;
}

.row-7 ul li {
    list-style-type:none;
    color: #fff;
    font-size: 0.8em;
    padding-top: 20px;
    background-image: url('../img/li_yellow.png');
    background-repeat: no-repeat;
    background-position: 0 22px;
    padding-left: 16px;
    background-size: 9px 11px;
    line-height: 1.4em;
}

img#info-1 {
  position: relative;
    left: 15px;
    top: 15px;
}

img#info-2 {
    position: relative;
    left: 15px;
    top: 15px;
}

img#avatar {
    position: absolute;
    left: 70px;
    top: 10px;
}

img#profile {
    position: absolute;
    top: 21px;
}


.img-block {
    /*background-image: url('../img/avatar@2x.png');*/
    /*background-size: 76px 91px;*/
    /*background-repeat: no-repeat;*/
    /*background-position: 0 22px;*/
    /*height: 100px;*/
    background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #ececec 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,#ececec));
    background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%,#ececec 100%);
    background: -o-radial-gradient(center, ellipse cover, #ffffff 0%,#ececec 100%);
    background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%,#ececec 100%);
    background: radial-gradient(ellipse at center, #ffffff 0%,#ececec 100%);
    width: 207px;
    height: 135px;
}


