.cog-icon, .gold-pencil@2x, .note-large-icon, .place-icon, .plus-green@2x, .plus-icon, .present-icon, .toy-tiger@2x, .vase-icon, .toy-puma@2x, .toy-diamond@2x, .toy-roze@2x, .star@2x, .present-icon-2@2x, .stack@2x{
	background: url(sprites.png) no-repeat;
}

.cog-icon{
	background-position: 0 0;
	width: 64px;
	height: 64px;
}

.gold-pencil@2x{
	background-position: -86.00000762939453px -91px ;
	width: 87px;
	height: 84px;
}

.note-large-icon{
	background-position: -198.00000762939453px -3px ;
	width: 52px;
	height: 59px;
}

.place-icon{
	background-position: -102.00000762939453px -2px ;
	width: 65px;
	height: 58px;
}

.plus-green@2x{
	background-position: -15.000007629394531px -216px ;
	width: 33px;
	height: 32px;
}

.plus-icon{
	background-position: -405.00000762939453px -8px ;
	width: 53px;
	height: 52px;
}

.present-icon{
	background-position: -515px -12px ;
	width: 32px;
	height: 37px;
}

.toy-tiger@2x{
	background-position: -195px -98px ;
	width: 69px;
	height: 66px;
}

.vase-icon{
	background-position: -302.00000762939453px 0;
	width: 62px;
	height: 64px;
}

.toy-puma@2x{
	background-position: -293.00000762939453px -98px ;
	width: 70px;
	height: 68px;
}

.toy-diamond@2x{
	background-position: -96.00003814697266px -200px ;
	width: 70px;
	height: 70px;
}

.toy-roze@2x{
	background-position: -401.00003814697266px -102px ;
	width: 64px;
	height: 62px;
}

.star@2x{
	background-position: -211.00000762939453px -208px ;
	width: 42px;
	height: 43px;
}

.present-icon-2@2x{
	background-position: -15.000007629394531px -112px ;
	width: 32px;
	height: 37px;
}

.stack@2x{
	background-position: -505.00000762939453px -115px ;
	width: 48px;
	height: 29px;
}

